@charset "UTF-8";
@font-face {
  font-family: "Avenir Next";
  src: url("fonts/avenir_next.eot");
  /* IE9 Compat Modes */
  src: url("fonts/avenir_next.eot?#iefix") format("embedded-opentype"), url("fonts/avenir_next.woff2") format("woff2"), url("fonts/avenir_next.woff") format("woff"), url("fonts/avenir_next.ttf") format("truetype"), url("fonts/avenir_next.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "Emily Mattison";
  src: url("fonts/Emily_Mattison.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Emily_Mattison.eot?#iefix") format("embedded-opentype"), url("fonts/Emily_Mattison.woff2") format("woff2"), url("fonts/Emily_Mattison.woff") format("woff"), url("fonts/Emily_Mattison.ttf") format("truetype"), url("fonts/Emily_Mattison.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "Milkshake";
  src: url("fonts/Milkshake.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Milkshake.eot?#iefix") format("embedded-opentype"), url("fonts/Milkshake.woff2") format("woff2"), url("fonts/Milkshake.woff") format("woff"), url("fonts/Milkshake.ttf") format("truetype"), url("fonts/Milkshake.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
* {
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }
  * ::selection {
    background: rgba(31, 212, 249, 0.25); }

a {
  outline: none; }

h1, .main-nav a, h2, h3, h4, h5, h6 {
  color: #0b0b0b;
  letter-spacing: 0.15rem;
  text-transform: uppercase; }

h1, .main-nav a, h2 {
  font-weight: 700; }

h3, h4, h5 {
  font-weight: 600; }

h1, .main-nav a {
  font-size: 2rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.1rem; }

h5 {
  font-size: 1rem;
  letter-spacing: 0.1rem; }

p {
  color: #0b0b0b;
  line-height: 2rem;
  margin-top: 25px; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, .main-nav a {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '<'; }

[dir='rtl'] .slick-prev:before {
  content: '>'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '>'; }

[dir='rtl'] .slick-next:before {
  content: '<'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

.directory-nav__post article span, .directory__figure figcaption div span, .directory__figure--first-row figcaption div span, .directory__figure--second-row figcaption div span, .directory__figure--other-row figcaption div span, .headline-container span, #home-page .blog-post-container span {
  color: #a6a6a6;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase; }

.center {
  text-align: center; }

.gray-headline {
  color: #cccccc; }

.large-body-text {
  font-size: 1.125rem;
  line-height: 2.25rem; }

.fa {
  color: #a6a6a6;
  cursor: pointer;
  font-size: 1.75rem; }
  .fa:hover {
    color: #fb6365; }

.slick-prev:before, .slick-next:before {
  color: #0b0b0b;
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400; }

.button {
  border: 1.5px solid #fa4a4c;
  cursor: pointer;
  display: inline-block;
  height: auto;
  padding: 15px 20px; }
  .button span {
    color: #fa4a4c;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase; }
  .button:hover {
    background: #fb6365;
    border: 1.5px solid #fb6365; }
    .button:hover span {
      color: #fff; }

.push-pin-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%; }

.push-pin {
  height: 80px;
  object-fit: contain; }

.main-nav-logo {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 45px;
  width: auto; }

.main-nav {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .main-nav__item, .main-nav__item--first, .main-nav__item--last {
    display: inline-block;
    list-style-type: none;
    padding: 0 25px; }

.main-nav a {
  color: #0b0b0b;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  text-decoration: none; }
  .main-nav a:hover {
    color: #fb6365; }
  .main-nav a span {
    font-family: "Milkshake", "Avenir Next", Helvetica, sans-serif;
    font-size: 0.78125rem;
    font-weight: 400;
    letter-spacing: 0rem;
    text-transform: lowercase;
    vertical-align: top; }
    .main-nav a span:hover {
      color: #fb6365; }

.directory-nav-container {
  height: 575px;
  width: 350px; }
  .directory-nav-container h4 {
    position: relative;
    text-align: center;
    top: 0; }

.directory-nav-border {
  border-right: 1.5px solid #f3f3f3;
  float: left;
  height: 40px;
  margin-bottom: 10px;
  position: relative;
  top: 5px;
  width: 50%; }

.directory-nav {
  border: 1.5px solid #f3f3f3;
  bottom: 0;
  height: 500px;
  overflow-y: scroll;
  position: relative;
  width: 100%; }
  .directory-nav__post {
    background: #fff;
    border-bottom: 1.5px solid #f3f3f3;
    box-sizing: border-box;
    cursor: pointer;
    height: 100px;
    position: relative;
    width: 100%; }
    .directory-nav__post:hover {
      background: #f3f3f3; }
    .directory-nav__post img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: inline-block;
      max-height: 75%;
      float: left;
      object-fit: contain;
      padding-left: 5%;
      width: 30%; }
    .directory-nav__post article {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: inline-block;
      float: left;
      padding-left: 10%;
      top: 47%;
      width: 55%; }
      .directory-nav__post article span {
        font-size: 0.7225rem; }
      .directory-nav__post article h5 {
        color: #1fd4f9;
        font-size: 0.85rem;
        padding-top: 2.5px; }

.divider-white {
  background: white;
  clear: both;
  height: 80px;
  width: 100%; }

.divider-black {
  background: black;
  clear: both;
  height: 80px;
  width: 100%; }

form {
  margin-top: 50px;
  margin-bottom: 50px; }

.input-container {
  display: inline-block;
  margin-top: 31.25px;
  margin-right: 50px;
  position: relative; }
  .input-container label {
    color: #a6a6a6;
    left: 11.5px;
    position: absolute;
    top: 11.5px; }
  .input-container--last {
    display: inline-block;
    margin-top: 31.25px;
    position: relative; }
    .input-container--last label {
      color: #a6a6a6;
      left: 11.5px;
      position: absolute;
      top: 11.5px; }

.textarea-container {
  display: block;
  height: 250px;
  margin-top: 31.25px;
  position: relative; }
  .textarea-container label {
    color: #a6a6a6;
    left: 11.5px;
    position: absolute;
    top: 11.5px; }

input {
  border: 1.5px solid #a6a6a6;
  box-sizing: border-box;
  padding: 10px;
  width: 100%; }
  input:valid {
    padding: 10px 10px 10px 13px; }
  input:valid + label {
    background: linear-gradient(to bottom, #f3f3f3 50%, #fff 50%);
    color: #a6a6a6;
    padding: 0 3px;
    transform: translateY(-105%); }
  input:focus {
    border: 1.5px solid #fb6365;
    outline: none; }
  input:focus + label {
    background: linear-gradient(to bottom, #f3f3f3 50%, #fff 50%);
    color: #fb6365;
    padding: 0 3px;
    transform: translateY(-105%); }

textarea {
  border: 1.5px solid #a6a6a6;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  width: 100%; }
  textarea:valid {
    padding: 10px 10px 10px 13px; }
  textarea:valid + label {
    background: linear-gradient(to bottom, #f3f3f3 50%, #fff 50%);
    color: #a6a6a6;
    padding: 0 3px;
    transform: translateY(-105%); }
  textarea:focus {
    border: 1.5px solid #fb6365;
    outline: none; }
  textarea:focus + label {
    background: linear-gradient(to bottom, #f3f3f3 50%, #fff 50%);
    color: #fb6365;
    padding: 0 3px;
    transform: translateY(-105%); }

.share-figure {
  -webkit-box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
  -moz-box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
  box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
  background: #fff;
  border: 15px solid #fff;
  margin: 0; }
  .share-figure img {
    object-fit: contain;
    width: 100%; }
  .share-figure figcaption {
    background: #fff;
    width: 100%; }
    .share-figure figcaption div {
      width: 100%; }
      .share-figure figcaption div span {
        color: #a6a6a6;
        font-family: "Milkshake", "Avenir Next", Helvetica, sans-serif;
        position: relative;
        text-transform: lowercase; }

.directory__figure, .directory__figure--first-row, .directory__figure--second-row, .directory__figure--other-row {
  -webkit-box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
  -moz-box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
  box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
  background: #fff;
  border: 15px solid #fff;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 0; }
  .directory__figure img, .directory__figure--first-row img, .directory__figure--second-row img, .directory__figure--other-row img {
    width: 100%; }
  .directory__figure figcaption, .directory__figure--first-row figcaption, .directory__figure--second-row figcaption, .directory__figure--other-row figcaption {
    background: #fff;
    width: 100%; }
    .directory__figure figcaption div, .directory__figure--first-row figcaption div, .directory__figure--second-row figcaption div, .directory__figure--other-row figcaption div {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%; }
  .directory__figure--first-row {
    margin-left: 50px;
    position: relative;
    top: -100px;
    width: -webkit-calc(100% - 350px - 50px);
    width: -moz-calc(100% - 350px - 50px);
    width: calc(100% - 350px - 50px); }
    .directory__figure--first-row img {
      object-fit: contain; }
    .directory__figure--first-row figcaption {
      padding: 15px 0px 7.5px 0px; }
      .directory__figure--first-row figcaption span {
        font-size: 0.74375rem; }
      .directory__figure--first-row figcaption h2 {
        padding-top: 16.4061987px; }
    .directory__figure--first-row:hover {
      cursor: pointer; }
  .directory__figure--second-row {
    width: -webkit-calc((100% - 50px) / 2);
    width: -moz-calc((100% - 50px) / 2);
    width: calc((100% - 50px) / 2); }
    .directory__figure--second-row .directory__image-container {
      overflow: hidden;
      width: 100%; }
      .directory__figure--second-row .directory__image-container img {
        object-fit: cover; }
    .directory__figure--second-row figcaption {
      padding-top: 15px; }
      .directory__figure--second-row figcaption span {
        font-size: 0.6375rem; }
      .directory__figure--second-row figcaption h3 {
        font-weight: 700;
        padding-top: 14.0631153px; }
    .directory__figure--second-row:hover {
      cursor: pointer; }
  .directory__figure--other-row {
    width: -webkit-calc((100% - 100px) / 3);
    width: -moz-calc((100% - 100px) / 3);
    width: calc((100% - 100px) / 3); }
    .directory__figure--other-row .directory__image-container {
      overflow: hidden;
      width: 100%; }
      .directory__figure--other-row .directory__image-container img {
        object-fit: cover; }
    .directory__figure--other-row figcaption {
      padding-top: 15px; }
      .directory__figure--other-row figcaption span {
        font-size: 0.53125rem; }
      .directory__figure--other-row figcaption h4 {
        font-weight: 700;
        padding-top: 11.7187134px; }
    .directory__figure--other-row:hover {
      cursor: pointer; }

header {
  -webkit-box-shadow: 0px 0.5px 7px 0px rgba(11, 11, 11, 0.15);
  -moz-box-shadow: 0px 0.5px 7px 0px rgba(11, 11, 11, 0.15);
  box-shadow: 0px 0.5px 7px 0px rgba(11, 11, 11, 0.15);
  background: #fff;
  height: 80px;
  width: 100%;
  z-index: 100; }

header .main-nav-logo {
  float: left;
  margin-left: 5%; }

header .main-nav {
  float: right;
  margin-right: 5%; }

header .main-nav__item--last {
  padding-left: 13px;
  padding-right: 0; }

footer {
  background: #fff;
  border-top: 1.5px solid #f3f3f3;
  clear: both;
  height: 160px;
  width: 100%; }

.footer-row-top, .footer-row-bottom {
  box-sizing: border-box;
  height: 50%;
  width: 100%; }

.footer-row-top {
  padding-top: 16px; }

.footer-row-bottom {
  padding-bottom: 16px; }

footer .main-nav-logo {
  float: left;
  margin-left: 5%; }

.footer-social-media {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  margin-right: 5%; }
  .footer-social-media__item, .footer-social-media__item--last {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px; }
    .footer-social-media__item--last {
      padding-right: 0; }

footer .fa {
  border: none; }

footer .main-nav {
  float: left;
  margin-left: 5%; }

footer .main-nav__item--first {
  padding-left: 0; }

.footer-copyright {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #a6a6a6;
  font-size: 0.9rem;
  float: right;
  margin-right: 5%; }

.hero-section {
  background: #0b0b0b;
  height: 75vh;
  width: 100%; }

.headline-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: -webkit-calc(100% - 80px);
  height: -moz-calc(100% - 80px);
  height: calc(100% - 80px);
  position: relative;
  top: 80px;
  width: 100%; }

.headline-container h1, .headline-container .main-nav a, .main-nav .headline-container a {
  -webkit-text-shadow: 0px 0.5px 5px rgba(11, 11, 11, 0.4);
  -moz-text-shadow: 0px 0.5px 5px rgba(11, 11, 11, 0.4);
  text-shadow: 0px 0.5px 5px rgba(11, 11, 11, 0.4);
  color: #fff;
  font-size: 3rem;
  margin-top: 0;
  padding-top: 28.125px; }

.headline-container span {
  -webkit-text-shadow: 0px 0.5px 5px rgba(11, 11, 11, 0.4);
  -moz-text-shadow: 0px 0.5px 5px rgba(11, 11, 11, 0.4);
  text-shadow: 0px 0.5px 5px rgba(11, 11, 11, 0.4);
  color: #fff;
  font-size: 1.275rem; }

.left-column {
  display: inline-block;
  position: relative;
  width: 75%; }

.right-column {
  display: inline-block;
  left: 75%;
  position: absolute;
  width: 25%; }

.left-description {
  float: left; }

.right-description {
  float: right; }

.directory__row--second, .directory__row--other, .directory__row--last {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 50px 0;
  transform: translateY(-50px);
  width: 100%; }

.directory__row--last {
  margin-bottom: -50px; }

.overview-section {
  background: #fff;
  height: auto; }

.overview-left {
  float: left;
  padding-top: 75px;
  width: 60%; }

.overview-right {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: right;
  padding-top: 75px;
  width: 40%; }
  .overview-right img {
    object-fit: contain;
    padding-bottom: 50px; }

.synced-slider-description {
  float: left;
  height: auto;
  margin-left: 10%;
  margin-right: 5%;
  width: 55%; }
  .synced-slider-description h3 {
    display: inline-block;
    padding-top: 50px;
    width: auto; }
  .synced-slider-description p span {
    font-weight: 700;
    padding-right: 2.5px; }

.synced-slider-for__slide img {
  float: right;
  object-fit: contain;
  margin-right: 10%;
  width: 20%; }

.synced-slider-nav {
  margin: auto;
  width: 30%; }
  .synced-slider-nav img {
    left: 25%;
    object-fit: contain;
    position: relative;
    width: 50%; }

.synced-slider-nav .slick-prev, .synced-slider-nav .slick-next {
  top: 37.5%; }
  .synced-slider-nav .slick-prev:before, .synced-slider-nav .slick-next:before {
    color: #0b0b0b; }

#home-page .hero-section {
  background: url("../images/home/neon-text.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%; }

#home-page .about-section {
  background: #fff;
  height: auto;
  width: 100%; }

#home-page .about-section div {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 25%; }

#home-page .about-section img {
  height: 150px;
  object-fit: contain;
  margin-top: 25px; }

#home-page .blog-section {
  background: #fff;
  border-bottom: 1.5px solid #f3f3f3;
  border-top: 1.5px solid #f3f3f3;
  clear: both;
  height: auto;
  overflow: hidden;
  width: 100%; }

#home-page #blog-div {
  float: left; }

#home-page #blog-column {
  background: #fff;
  overflow-y: scroll; }

#home-page .blog-slider-for {
  background: #f3f3f3;
  float: right;
  width: 87.5%; }
  #home-page .blog-slider-for div {
    overflow: visible; }
  #home-page .blog-slider-for__post {
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%; }
    #home-page .blog-slider-for__post figure {
      float: left;
      position: relative;
      right: 5%;
      width: 30%; }
      #home-page .blog-slider-for__post figure figcaption {
        height: 160px; }
        #home-page .blog-slider-for__post figure figcaption div {
          align-items: center;
          display: flex;
          justify-content: space-around;
          flex-direction: row; }
          #home-page .blog-slider-for__post figure figcaption div span {
            font-size: 2.25rem; }

#home-page .share-container {
  height: 40%;
  padding-top: 5%; }

#home-page .blog-social-media-container {
  height: 50%;
  padding-bottom: 5%; }

#home-page .blog-social-media__item {
  display: inline-block;
  list-style-type: none; }

#home-page .blog-section .fa {
  padding: 0 35px; }

#home-page .blog-section .fa-facebook, .fa-pinterest-p {
  border-right: 1.5px solid #f3f3f3; }

#home-page .blog-section .fa-twitter {
  border: none; }

#home-page .slick-slide {
  height: 0; }

#home-page .slick-current, .slick-active {
  height: auto;
  outline: none; }

#home-page .blog-post-container {
  display: inline-block;
  float: right;
  padding-right: 5%;
  width: 60%; }
  #home-page .blog-post-container span {
    margin-top: 25px; }
  #home-page .blog-post-container h3 {
    padding-top: 18.75px; }

#home-page .directory-nav {
  border: none;
  overflow-y: scroll;
  position: static; }
  #home-page .directory-nav__post {
    border-bottom: 1.5px solid #f3f3f3;
    box-sizing: content-box;
    display: block;
    height: 100px;
    position: static; }
    #home-page .directory-nav__post article {
      padding-left: 5%;
      width: 60%; }
      #home-page .directory-nav__post article span {
        font-size: 0.85rem; }
      #home-page .directory-nav__post article h5 {
        font-size: 1rem; }

#home-page .blog-slider-nav .slick-current {
  background: #f3f3f3; }
  #home-page .blog-slider-nav .slick-current h5 {
    color: #1fd4f9; }

#home-page .instagram-section {
  background: #fff;
  height: auto; }

#home-page .instagram-section .slick-prev:before, .slick-next:before {
  color: #fa4a4c; }

#home-page .instagram-div {
  height: auto;
  margin: 125px 10%;
  margin-bottom: 75px; }

#home-page .instagram-slider-for__post {
  align-items: baseline;
  display: flex;
  justify-content: center; }

#home-page .instagram-slider-for__post img {
  height: 275px;
  object-fit: contain; }

#home-page .instagram-section .button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 125px; }

#home-page .contact-section {
  background: #f3f3f3;
  height: auto;
  position: relative;
  width: 100%; }

#home-page .contact-form {
  margin-left: 10%;
  width: 90%; }

#home-page .input-container {
  margin-right: 4.5%;
  width: 30%; }

#home-page .input-container--last {
  width: 30%; }

#home-page .contact-section .button-div {
  height: 100%; }

#home-page .contact-section .button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }

#about-page .hero-section {
  background: url("../images/about/graffiti.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#about-page .overview-section {
  margin: 0 5%;
  width: 90%; }

#about-page .overview-left, .overview-right {
  margin-bottom: 125px;
  padding-top: 105px;
  visibility: hidden; }

#about-page .overview-left h2 {
  letter-spacing: 0rem;
  text-transform: none; }

#about-page .overview-right img {
  width: 50%; }

#about-page .contact-section {
  background: #f3f3f3;
  clear: both;
  height: auto;
  position: relative;
  width: 100%; }

#about-page .contact-form {
  margin-left: 10%;
  width: 90%; }

#about-page .input-container {
  margin-right: 4.5%;
  width: 30%; }

#about-page .input-container--last {
  width: 30%; }

#about-page .contact-section .button-div {
  height: 100%; }

#about-page .contact-section .button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }

#work-page .hero-section {
  background: url("../images/work/triangles.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#work-page .headline-container {
  height: -webkit-calc(100% - 130px);
  height: -moz-calc(100% - 130px);
  height: calc(100% - 130px); }

#work-page .content-section {
  background: #fff;
  height: auto;
  margin: 0 5% 187.5px 5%;
  position: relative;
  width: 90%; }

#work-page .directory-nav-container {
  display: inline-block;
  float: left;
  padding-top: 50px; }

#work-page .directory-nav article {
  top: 50%; }
  #work-page .directory-nav article h5 {
    padding-top: 0px; }

#work-page .directory__figure--second-row figcaption {
  padding: 7.5px 0px 5.625px 0px; }

#work-page .directory__figure--other-row figcaption {
  padding: 5px 0px 3.75px 0px; }

#work-page figcaption h2, h3, h4 {
  padding-top: 0px; }

#coffee-app-page .main-nav a:hover {
  color: #f1a75e; }

#coffee-app-page .fa:hover {
  color: #f1a75e; }

#coffee-app-page .hero-section {
  background: url("../images/projects/coffee-app/coffee-app-wall.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#coffee-app-page .overview-section {
  margin: 0 5%;
  width: 90%; }

#coffee-app-page .overview-left, .overview-right {
  margin-bottom: 95px;
  padding-top: 105px;
  visibility: hidden; }

#coffee-app-page .overview-right img {
  width: 55%; }

#coffee-app-page .wireframes-section {
  background: #fff;
  border-bottom: 1.5px solid #f3f3f3;
  border-top: 1.5px solid #f3f3f3;
  clear: both;
  width: 100%; }

#coffee-app-page .left-column {
  background: #f3f3f3;
  height: auto;
  margin-left: 10%;
  padding: 100px 0;
  width: 90%; }

#coffee-app-page .left-image {
  -webkit-box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
  -moz-box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
  box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
  background: #fff;
  border: 15px solid #fff;
  float: left;
  height: auto;
  left: -5%;
  object-fit: contain;
  position: relative;
  width: 40%; }

#coffee-app-page .right-description {
  height: auto;
  padding-right: 10%;
  width: 45%; }
  #coffee-app-page .right-description span {
    font-weight: 700;
    padding-right: 2.5px; }

#coffee-app-page .mockups-section {
  background: url("../images/projects/coffee-app/palm-trees.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 615px;
  width: 100%; }

#coffee-app-page .mockups-section h2 {
  padding-left: 5%;
  padding-top: 50px; }

#coffee-app-page .synced-slider-for img {
  max-width: 200px; }

#coffee-app-page .prototype-section {
  background: #fff;
  clear: both;
  width: 90%; }

#coffee-app-page .prototype-image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  float: left;
  height: 100%;
  width: 45%; }
  #coffee-app-page .prototype-image-container img {
    object-fit: contain;
    width: 45%; }

#coffee-app-page .prototype-description {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: right;
  height: 100%;
  width: 55%; }
  #coffee-app-page .prototype-description span {
    font-weight: 700;
    padding-right: 2.5px; }

#ballad-page .main-nav a:hover {
  color: #ab0061; }

#ballad-page .fa:hover {
  color: #ab0061; }

#ballad-page .hero-section {
  background: url("../images/projects/ballad/ballad-wall.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#ballad-page .overview-section {
  margin: 0;
  width: 100%; }

#ballad-page .overview-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 105px 25% 45px 25%;
  visibility: hidden; }

#ballad-page .button-container {
  margin-top: 80px;
  margin-bottom: -5px;
  visibility: hidden; }

#ballad-page .button {
  border: 1.5px solid #ab0061; }
  #ballad-page .button span {
    color: #ab0061; }
  #ballad-page .button:hover {
    background: #ab0061;
    border: 1.5px solid #ab0061; }
    #ballad-page .button:hover span {
      color: #fff; }

#ballad-page .style-guides-section {
  background: #f3f3f3;
  height: 615px;
  width: 100%; }

#ballad-page .style-guides-section h2 {
  padding-left: 5%;
  padding-top: 50px; }

#ballad-page .synced-slider-for .margin-top {
  margin-top: 25px; }

#ballad-page .colors li {
  display: inline-block;
  list-style-type: none;
  padding-right: 12.5px;
  width: auto; }
  #ballad-page .colors li img {
    float: left;
    margin-right: 0;
    width: 50px; }

#ballad-page .typefaces li {
  display: inline-block;
  list-style-type: none;
  padding-right: 25px; }
  #ballad-page .typefaces li img {
    float: left;
    height: 14px;
    margin-right: 0;
    object-fit: contain;
    width: auto; }

#ballad-page .synced-slider-for .moodboards {
  margin-top: 25px; }

#ballad-page .synced-slider-nav {
  position: relative;
  top: 4%; }
  #ballad-page .synced-slider-nav img {
    -webkit-box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
    -moz-box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15);
    box-shadow: 0px 0.5px 10px 0px rgba(11, 11, 11, 0.15); }

#ballad-page .logo-section {
  background: url("../images/projects/ballad/retro-stripes.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 540px;
  width: 100%; }

#ballad-page .logo-image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  float: left;
  height: 100%;
  margin-left: 5%;
  width: 40.5%; }
  #ballad-page .logo-image-container img {
    object-fit: contain;
    width: 55%; }

#ballad-page .logo-description {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: right;
  height: 100%;
  margin-right: 5%;
  width: 49.5%; }
  #ballad-page .logo-description span {
    font-weight: 700;
    padding-right: 2.5px; }

#ballad-page .desktop-mockup-section {
  background: #fff;
  height: auto;
  width: 100%; }

#ballad-page .desktop-mockup-section h2 {
  padding-left: 5%;
  padding-top: 75px; }

#ballad-page .desktop-mockup-section .mockup-image-container {
  margin: 0 10%;
  width: 80%; }
  #ballad-page .desktop-mockup-section .mockup-image-container img {
    -webkit-box-shadow: 0px 0.5px 10px 1.5px rgba(11, 11, 11, 0.15);
    -moz-box-shadow: 0px 0.5px 10px 1.5px rgba(11, 11, 11, 0.15);
    box-shadow: 0px 0.5px 10px 1.5px rgba(11, 11, 11, 0.15);
    margin: 50px 0 75px 0;
    object-fit: contain;
    width: 100%; }

#ballad-page .mobile-prototype-section {
  background: #f3f3f3;
  width: 100%; }

#ballad-page .mobile-prototype-image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  float: left;
  height: 100%;
  width: 40.5%; }
  #ballad-page .mobile-prototype-image-container img {
    object-fit: contain;
    width: 45%; }

#ballad-page .mobile-prototype-description {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: right;
  height: 100%;
  margin-right: 10%;
  width: 49.5%; }
  #ballad-page .mobile-prototype-description span {
    font-weight: 700;
    padding-right: 2.5px; }

#ballad-page .responsive-site-section {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%; }
  #ballad-page .responsive-site-section img {
    object-fit: contain;
    transform: translateX(35px);
    width: 60%; }

#the-latest-page .hero-section {
  background: url("../images/the-latest/corkboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#the-latest-page .headline-container {
  height: -webkit-calc(100% - 130px);
  height: -moz-calc(100% - 130px);
  height: calc(100% - 130px); }
  #the-latest-page .headline-container h1 span, #the-latest-page .headline-container .main-nav a span, .main-nav #the-latest-page .headline-container a span {
    font-family: "Milkshake", "Avenir Next", Helvetica, sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: 0rem;
    text-transform: lowercase;
    vertical-align: top; }

#the-latest-page .content-section {
  background: #fff;
  height: auto;
  margin: 0 5% 187.5px 5%;
  position: relative;
  width: 90%; }

#the-latest-page .directory-nav-container {
  display: inline-block;
  float: left;
  padding-top: 50px; }

#the-latest-page .push-pin-container {
  position: absolute;
  top: -15px; }

#blog-post-page .hero-section {
  background: url("../images/the-latest/corkboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#blog-post-page .headline-container {
  height: -webkit-calc(100% - 130px);
  height: -moz-calc(100% - 130px);
  height: calc(100% - 130px); }

#blog-post-page .content-section {
  background: #fff;
  height: auto;
  margin: 0 10%;
  position: relative;
  top: -100px;
  width: 80%; }
  #blog-post-page .content-section:before {
    content: url("../images/blog-post/shadow-left.png");
    left: -8px;
    position: absolute;
    top: 100px; }
  #blog-post-page .content-section:after {
    content: url("../images/blog-post/shadow-right.png");
    position: absolute;
    right: -8px;
    top: 100px; }

#blog-post-page .push-pin {
  padding-bottom: 20px; }

#blog-post-page .share-figure {
  display: inline-block;
  float: left;
  left: 25px;
  margin: 0;
  position: relative;
  width: 100px; }
  #blog-post-page .share-figure figcaption {
    height: auto; }
    #blog-post-page .share-figure figcaption div {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%; }

#blog-post-page .blog-social-media__item {
  display: block;
  list-style-type: none; }

#blog-post-page .content-section .fa {
  border-bottom: 1.5px solid #f3f3f3;
  border-right: none;
  font-size: 1.53125rem;
  padding: 20.25px 15px; }

#blog-post-page .content-section .fa-twitter {
  border-bottom: none;
  padding-bottom: 5.25px; }

#blog-post-page .blog-post-container {
  float: left;
  height: auto;
  left: 60px;
  margin-bottom: 125px;
  position: relative;
  width: 600px; }

#blog-post-page .blog-post__paragraph--first {
  margin-top: 0px; }

#blog-post-page .blog-post__image {
  margin: 25px 0;
  object-fit: contain;
  width: 100%; }

#blog-post-page .directory-nav-container {
  float: right;
  position: relative;
  right: 25px;
  width: 300px; }

/*# sourceMappingURL=style.css.map */
