@import "partials/variables";
@import "partials/mixins";
@import "partials/home";
@import "partials/work-pages";
@import "partials/graphic-design";
@import "partials/project-pages";
@import "partials/coffee-app";
@import "partials/the-latest";

* {
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.15rem;
}

p {
  font-size: 1rem;
  margin: 0;
}

@import "partials/media-queries";
