@font-face {
  font-family: "Avenir Next";
  src: url("fonts/avenir_next.eot");
  /* IE9 Compat Modes */
  src: url("fonts/avenir_next.eot?#iefix") format("embedded-opentype"), url("fonts/avenir_next.woff2") format("woff2"), url("fonts/avenir_next.woff") format("woff"), url("fonts/avenir_next.ttf") format("truetype"), url("fonts/avenir_next.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "Emily Mattison";
  src: url("fonts/Emily_Mattison.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Emily_Mattison.eot?#iefix") format("embedded-opentype"), url("fonts/Emily_Mattison.woff2") format("woff2"), url("fonts/Emily_Mattison.woff") format("woff"), url("fonts/Emily_Mattison.ttf") format("truetype"), url("fonts/Emily_Mattison.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "Milkshake";
  src: url("fonts/Milkshake.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Milkshake.eot?#iefix") format("embedded-opentype"), url("fonts/Milkshake.woff2") format("woff2"), url("fonts/Milkshake.woff") format("woff"), url("fonts/Milkshake.ttf") format("truetype"), url("fonts/Milkshake.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
.divider-white {
  background: white;
  clear: both;
  height: 50px;
  width: 100%; }

.divider-black {
  background: black;
  clear: both;
  height: 50px;
  width: 100%; }

header {
  background: white;
  box-shadow: 0px 0.5px 7px rgba(0, 0, 0, 0.35);
  height: 80px;
  width: 100%;
  z-index: 100; }
  header ul {
    float: right;
    margin-right: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    header ul li {
      display: inline-block;
      list-style-type: none; }
      header ul li a {
        color: black;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        padding: 0 25px;
        text-decoration: none;
        text-transform: uppercase; }
        header ul li a span {
          font-family: "Milkshake", "Avenir Next", sans-serif;
          font-size: 0.78125rem;
          font-weight: normal;
          letter-spacing: 0rem;
          text-transform: lowercase;
          vertical-align: top; }

.the-latest {
  padding-left: 13px;
  padding-right: 0px; }

.logo {
  float: left;
  height: 45px;
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: auto; }

footer {
  background: #3d01c2;
  height: 240px;
  width: 100%; }

#home-page #hero {
  background: #fa4a4c;
  height: 100vh;
  width: 100%; }

#about-section {
  background: white;
  height: 100vh;
  width: 100%; }

#blog-section {
  background: white;
  border-bottom: 1.5px solid #ededed;
  border-top: 1.5px solid #ededed;
  clear: both;
  height: auto;
  overflow: hidden;
  width: 100%; }

#blog-section #blog-div {
  float: left;
  position: relative;
  width: 75%; }

#blog-section #blog-panel {
  background: white;
  left: 75%;
  overflow-y: scroll;
  position: absolute;
  width: 25%; }

#blog-section .blog-slider-for {
  background: #ededed;
  float: right;
  width: 87.5%; }
  #blog-section .blog-slider-for div {
    overflow: visible; }

#blog-section .blog-post {
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%; }
  #blog-section .blog-post figure {
    background: white;
    border: 15px solid white;
    box-shadow: 0px 0.05px 10px rgba(0, 0, 0, 0.15);
    float: left;
    margin: 0;
    position: relative;
    right: 5%;
    width: 30%; }
    #blog-section .blog-post figure img {
      object-fit: contain;
      width: 100%; }
    #blog-section .blog-post figure figcaption {
      background: white;
      height: 160px;
      width: 100%; }
      #blog-section .blog-post figure figcaption div {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%; }
        #blog-section .blog-post figure figcaption div span {
          color: #a6a6a6;
          font-family: "Milkshake", cursive;
          font-size: 2.25rem;
          text-transform: lowercase;
          position: relative; }

#blog-section .share-container {
  height: 40%;
  padding-top: 5%; }

#blog-section .social-media-icons-container {
  height: 50%;
  padding-bottom: 5%; }

#blog-section .fa {
  color: #a6a6a6;
  font-size: 1.75rem;
  padding: 0 35px; }

#blog-section .fa-facebook, .fa-twitter {
  border-right: 1.5px solid #ededed; }

#blog-section .slick-slide {
  height: 0; }

#blog-section .slick-current, .slick-active {
  height: auto; }

#blog-section .blog-slider-description {
  display: inline-block;
  float: right;
  padding-right: 5%;
  width: 60%; }
  #blog-section .blog-slider-description span {
    color: #a6a6a6;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding-top: 25px;
    text-transform: uppercase; }
  #blog-section .blog-slider-description h3 {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 18.75px;
    text-transform: uppercase; }
  #blog-section .blog-slider-description p {
    color: black;
    line-height: 2rem;
    padding-top: 25px; }

#blog-section .blog-slider-nav {
  overflow-y: scroll; }
  #blog-section .blog-slider-nav div {
    background: white;
    border-bottom: 1.5px solid #ededed;
    display: block;
    height: 100px;
    cursor: pointer;
    width: 100%; }
    #blog-section .blog-slider-nav div img {
      display: inline-block;
      max-height: 75%;
      float: left;
      object-fit: contain;
      padding-left: 5%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 30%; }

.blog-post-title-container {
  display: inline-block;
  float: left;
  padding-left: 5%;
  position: relative;
  top: 15%;
  width: 60%; }
  .blog-post-title-container span {
    color: #a6a6a6;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase; }
  .blog-post-title-container h5 {
    color: #1fd4f9;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding-top: 2.5px;
    text-transform: uppercase; }

#projects-section {
  background: white;
  clear: both;
  height: 100vh;
  width: 100%; }

* {
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.15rem; }

p {
  font-size: 1rem;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
