@font-face {
  font-family: "Avenir Next";
  src: url("fonts/avenir_next.eot");
  /* IE9 Compat Modes */
  src: url("fonts/avenir_next.eot?#iefix") format("embedded-opentype"), url("fonts/avenir_next.woff2") format("woff2"), url("fonts/avenir_next.woff") format("woff"), url("fonts/avenir_next.ttf") format("truetype"), url("fonts/avenir_next.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "Emily Mattison";
  src: url("fonts/Emily_Mattison.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Emily_Mattison.eot?#iefix") format("embedded-opentype"), url("fonts/Emily_Mattison.woff2") format("woff2"), url("fonts/Emily_Mattison.woff") format("woff"), url("fonts/Emily_Mattison.ttf") format("truetype"), url("fonts/Emily_Mattison.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "Milkshake";
  src: url("fonts/Milkshake.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Milkshake.eot?#iefix") format("embedded-opentype"), url("fonts/Milkshake.woff2") format("woff2"), url("fonts/Milkshake.woff") format("woff"), url("fonts/Milkshake.ttf") format("truetype"), url("fonts/Milkshake.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
.projects .project-name {
  align-items: center;
  background: black;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%; }
  .projects .project-name h1 {
    color: white;
    font-size: 4rem;
    text-transform: uppercase; }

.projects .description {
  float: left;
  margin-left: 5%;
  width: 50%; }
  .projects .description h2 {
    color: black;
    font-size: 2rem;
    padding-top: 75px;
    padding-bottom: 25px;
    text-transform: uppercase; }
  .projects .description p {
    line-height: 2rem;
    padding-bottom: 25px; }

.projects .overview-image {
  float: right;
  margin-right: 5%;
  width: 40%; }

.projects .wireframe-image {
  float: left;
  height: auto;
  width: 50%; }

.projects .wireframe-description {
  align-items: center;
  display: flex;
  float: right;
  height: auto;
  justify-content: center;
  width: 50%; }
  .projects .wireframe-description h2 {
    color: white;
    font-size: 2rem;
    padding-bottom: 25px;
    text-align: center;
    text-transform: uppercase; }
  .projects .wireframe-description p {
    color: white;
    line-height: 2rem;
    margin: auto;
    padding-bottom: 25px;
    width: 50%; }
    .projects .wireframe-description p span {
      font-weight: bold; }

.projects .last-paragraph {
  padding-bottom: 0; }

.projects .mockups {
  clear: both;
  width: 100%; }
  .projects .mockups h2 {
    color: white;
    font-size: 2rem;
    margin-left: 5%;
    padding-top: 75px;
    padding-bottom: 25px;
    text-transform: uppercase; }
  .projects .mockups p {
    color: white;
    line-height: 2rem;
    padding-bottom: 25px; }
    .projects .mockups p span {
      font-weight: bold; }

.projects .prototypes {
  clear: both;
  width: 100%; }

.projects .prototypes-description {
  float: right;
  margin-right: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50%; }
  .projects .prototypes-description h2 {
    color: black;
    font-size: 2rem;
    padding-top: 75px;
    padding-bottom: 25px;
    text-transform: uppercase; }
  .projects .prototypes-description p {
    color: black;
    line-height: 2rem;
    padding-bottom: 25px; }
    .projects .prototypes-description p span {
      font-weight: bold; }

.slick-prev:before, .slick-next:before {
  font-family: "Avenir Next";
  font-size: 40px;
  font-weight: 500; }

.projects .prototypes-image {
  align-items: center;
  float: left;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 40%; }

#coffee-app #coffee-app-overview-image {
  height: auto;
  margin-top: 50px;
  position: relative;
  width: 100%; }

#coffee-app #milk-and-sugar {
  height: auto;
  margin: 50px;
  position: relative;
  left: 10%;
  width: 60%; }

#coffee-app .wireframe-image {
  align-items: center;
  background: #f2d4b4;
  clear: both;
  display: flex;
  height: 700px;
  justify-content: center; }
  #coffee-app .wireframe-image div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5%; }
    #coffee-app .wireframe-image div img {
      object-fit: contain;
      width: 23%;
      box-sizing: border-box;
      margin: 5%; }

#coffee-app .wireframe-description {
  background: #e6a96a;
  height: 700px; }

#coffee-app .mockups {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../images/projects/coffee-app/palm-trees.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
  height: 700px; }

#coffee-app .prototypes {
  height: 700px; }

#coffee-app .mockups-carousel-for div {
  margin: auto;
  width: 80%; }
  #coffee-app .mockups-carousel-for div img {
    float: right;
    object-fit: contain;
    width: 225px; }

#coffee-app .mockups-carousel-description {
  float: left;
  width: 20%; }
  #coffee-app .mockups-carousel-description h3 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase; }
  #coffee-app .mockups-carousel-description p {
    color: white;
    line-height: 2rem;
    padding-bottom: 25px;
    width: 80%; }
    #coffee-app .mockups-carousel-description p span {
      font-weight: bold; }

#coffee-app .mockups-carousel-nav {
  margin: auto;
  position: relative;
  top: -4%;
  width: 40%; }
  #coffee-app .mockups-carousel-nav img {
    left: 25%;
    object-fit: contain;
    position: relative;
    width: 60%; }

#coffee-app #coffee-app-prototypes-image {
  height: auto;
  width: 85%; }

* {
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.15rem; }

p {
  font-size: 1.15rem;
  margin: 0; }

header, footer {
  height: 100px;
  width: 100%; }
  header ul, footer ul {
    float: right;
    margin-right: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    header ul li, footer ul li {
      display: inline-block;
      list-style-type: none; }
      header ul li a, footer ul li a {
        color: black;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        padding: 0 25px;
        text-decoration: none;
        text-transform: uppercase; }
        header ul li a span, footer ul li a span {
          font-family: "Milkshake", "Avenir Next", sans-serif;
          font-size: 1.25rem;
          font-weight: normal;
          letter-spacing: 0rem;
          text-transform: lowercase;
          vertical-align: top; }

.the-latest {
  padding-left: 13px; }

.logo {
  float: left;
  height: 70px;
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: auto; }

.divider-white {
  background: white;
  clear: both;
  height: 50px;
  width: 100%; }

.divider-black {
  background: black;
  clear: both;
  height: 50px;
  width: 100%; }

footer div {
  float: left;
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  footer div span {
    display: block;
    text-align: left; }
footer ul li a {
  font-size: 1.5rem;
  padding: 0 25px; }
  footer ul li a span {
    font-size: 0.9375rem; }

footer .logo {
  float: none;
  height: 52.5px;
  margin: 0;
  top: 0%;
  transform: none; }

/*# sourceMappingURL=style.css.map */
