@import "partials/variables";
@import "partials/media-queries";
@import "partials/projects";

* {
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.15rem;
}

p {
  font-size: 1.15rem;
  margin: 0;
}

header, footer {
  height: 100px;
  width: 100%;

  ul {
    float: right;
    margin-right: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    li {
      display: inline-block;
      list-style-type: none;

      a {
        color: black;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        padding: 0 25px;
        text-decoration: none;
        text-transform: uppercase;

        span {
          font-family: "Milkshake", "Avenir Next", sans-serif;
          font-size: 1.25rem;
          font-weight: normal;
          letter-spacing: 0rem;
          text-transform: lowercase;
          vertical-align: top;
        }
      }
    }
  }
}

.the-latest {
  padding-left: 13px;
}

.logo {
  float: left;
  height: 70px;
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
}

.divider-white {
  background: white;
  clear: both;
  height: 50px;
  width: 100%;
}

.divider-black {
  background: black;
  clear: both;
  height: 50px;
  width: 100%;
}
