#coffee-app-page #coffee-app-overview-image {
  height: auto;
  margin-top: 50px;
  position: relative;
  width: 100%;
}

#coffee-app-page #milk-and-sugar {
  height: auto;
  margin: 50px;
  position: relative;
  left: 10%;
  width: 60%;
}

#coffee-app-page .wireframe-image {
  align-items: center;
  background: #f2d4b4;
  clear: both;
  display: flex;
  height: 700px;
  justify-content: center;

  div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5%;

    img {
      object-fit: contain;
      width: 23%;
      box-sizing: border-box;
      margin: 5%;
    }
  }
}

#coffee-app-page .wireframe-description {
  background: #e6a96a;
  height: 700px;
}

#coffee-app-page .mockups {
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    /* bottom, image */
    url("../images/projects/coffee-app/palm-trees.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
  height: 700px;
}

#coffee-app-page .prototypes {
  height: 700px;
}

#coffee-app-page .mockups-carousel-for {
  div {
    margin: auto;
    width: 80%;

    img {
      float: right;
      object-fit: contain;
      width: 225px;
    }
  }
}

#coffee-app-page .mockups-carousel-description {
  float: left;
  width: 20%;

  h3 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    color: white;
    line-height: 2rem;
    padding-bottom: 25px;
    width: 80%;

    span {
      font-weight: bold;
    }
  }
}

#coffee-app-page .mockups-carousel-nav {
  margin: auto;
  position: relative;
  top: -4%;
  width: 40%;

    img {
      left: 25%;
      object-fit: contain;
      position: relative;
      width: 60%;
    }
  }


#coffee-app-page #coffee-app-prototypes-image {
  height: auto;
  width: 85%;
}
