#coffee-app #coffee-app-overview-image {
  height: auto;
  margin-top: 50px;
  position: relative;
  width: 100%;
}

#coffee-app #milk-and-sugar {
  height: auto;
  margin: 50px;
  position: relative;
  left: 10%;
  width: 60%;
}

#coffee-app .left-div {
  background: #f2d4b4;
  clear: both;
  height: 600px;
}

#coffee-app .right-div {
  background: #e6a96a;
  height: 600px;
}
