// HEADER

#home-page header {
  position: relative;
  top: 0;
  width: 100%;
}

#home-page .nav-div {
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 25%;
}

#home-page .text-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  top: 0;
  width: 100%;

  a {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-decoration: none;
    text-transform: uppercase;

    span {
      font-family: "Milkshake", "Avenir Next", sans-serif;
      font-size: 1.25rem;
      font-weight: normal;
      letter-spacing: 0rem;
      text-transform: lowercase;
      vertical-align: top;
    }
  }
}

#home-page .logo {
  float: none;
  height: 60px;
  margin-left: none;
  padding-top: 5px;
  top: none;
  transform: none;
  width: auto;
}

#home-page .work {
  padding: none;
}

#home-page .the-latest {
  padding: none;
}


// HERO

#home-page #hero {
  background-image: url("../images/hero/concert.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#home-page .panel {
  // background: linear-gradient(to right, rgba(196, 0, 133, 0.45) 50%, rgba(196, 0, 133, 0) 50%);
  // transition: all 2s ease;
  // background-size: 200% 100%;
  // background-position:right bottom;
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
  float: left;
  height: 86.5%;
  width: 25%;
}

// #home-page .panel:hover {
//   background-position: left bottom;
// }


// ABOUT SECTION

#about-section {
  background: $light-blue;
  height: 100vh;
  width: 100%;
}

#about-section .text-container a {
  color: $purple;
}

#about-section #about-nav-div {
  background-color: $purple;
  border-bottom: 2px solid $light-blue;
}

#about-section #purple-about {
  color: $light-blue;
}

#home-page #about-panel {
  background: $purple;
  float: left;
  height: 86.5%;
  left: 25%;
  position: relative;
  top: 0;
  width: 25%;
}

#about-headline-div {
  // background: $turquoise;
  height: 50%;
  width: 100%;

  span {
    color: $light-blue;
    display: block;
    font-family: "Avenir Next";
    font-size: 1.75rem;
    font-weight: bold;
    margin: 14% auto;
    width: 68%;
  }

  button {
    background: none;
    border: 2px solid $light-blue;
    color: $light-blue;
    display: block;
    margin: auto;
  }

  button:hover {
    background: $light-blue;
    color: $purple;
  }
}

#home-page #about-image-div {
  // background: $turquoise;
  align-items: flex-end;
  display: flex;
  float: left;
  height: 43.25%;
  justify-content: center;
  left: 25%;
  position: relative;
  width: 50%;
}

#home-page #about-image {
  height: 90%;
  object-fit: contain;
  position: relative;
}

#home-page #about-bio-div {
  // background: $magenta;
  display: block;
  height: 43.25%;
  left: 37.5%;
  position: relative;
  top: 43.25%;
  width: 62.5%;
  z-index: 5;
}

#home-page #about-bio {
  background: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.45);
  height: 80%;
  position: relative;
  top: 10%;
  width: 93%;

  div {
    // background: $blue;
    float: left;
    margin: 2.5%;
    position: absolute;
    width: 95%;

    p {
      font-size: 0.9rem;
    }
  }
}
