// HEADER

#home-page header {
  position: relative;
  top: 0;
  width: 100%;
}

#home-page .nav-div {
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 25%;
}

#home-page .text-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  top: 0;
  width: 100%;

  a {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-decoration: none;
    text-transform: uppercase;

    span {
      font-family: "Milkshake", "Avenir Next", sans-serif;
      font-size: 1.25rem;
      font-weight: normal;
      letter-spacing: 0rem;
      text-transform: lowercase;
      vertical-align: top;
    }
  }
}

#home-page .logo {
  float: none;
  height: 60px;
  margin-left: none;
  padding-top: 5px;
  top: none;
  transform: none;
  width: auto;
}

#home-page .work {
  padding: none;
}

#home-page .the-latest {
  padding: none;
}


// HERO

#home-page #hero {
  background-image: url("../images/hero/concert.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#home-page .panel {
  // background: linear-gradient(to right, rgba(196, 0, 133, 0.45) 50%, rgba(196, 0, 133, 0) 50%);
  // transition: all 2s ease;
  // background-size: 200% 100%;
  // background-position:right bottom;
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
  float: left;
  height: 86.5%;
  width: 25%;
}

// #home-page .panel:hover {
//   background-position: left bottom;
// }


// ABOUT SECTION

#about-section {
  background: $light-blue;
  height: 100vh;
  width: 100%;
}

#about-section .nav-div {
  border-bottom: 2px solid $purple;
  box-sizing: border-box;
}

#about-section .text-container a {
  color: $purple;
}

#about-section .text-container a:hover {
  color: $blue;
}

#about-logo-hover {
  display: none;
}

#about-section #about-nav-div {
  background-color: $purple;
  border-bottom: 2px solid $light-blue;
}

#about-section #purple-about {
  color: $light-blue;
}

#about-section #about-button-div {
  align-items: center;
  display: flex;
  float: left;
  height: 86.5%;
  justify-content: center;
  width: 25%;

  button {
    background: none;
    border: 2px solid $purple;
    color: $purple;
    display: block;
    margin: auto;
  }

  button:hover {
    background: $purple;
    color: $light-blue;
  }
}

#about-section #about-panel {
  background: $purple;
  float: left;
  height: 86.5%;
  left: 0%;
  position: relative;
  top: 0;
  width: 25%;
}

#about-section #about-headline-div {
  align-items: center;
  display: flex;
  height: 50.5%;
  justify-content: center;
  width: 100%;

  span {
    color: $light-blue;
    display: block;
    font-family: "Avenir Next";
    font-size: 1.75rem;
    font-weight: bold;
    width: 68%;
  }
}

#about-section #about-image-div {
  // background: $turquoise;
  align-items: flex-end;
  display: flex;
  float: left;
  height: 37%;
  justify-content: center;
  left: 0%;
  position: relative;
  width: 50%;
}

#about-section #about-image {
  height: 86.62%;
  object-fit: contain;
  position: relative;
}

#about-section #about-bio-div {
  // background: $magenta;
  display: block;
  height: 49.5%;
  left: 37.5%;
  position: relative;
  top: 37%;
  width: 62.5%;
  z-index: 5;
}

#about-section #about-bio {
  background: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.45);
  height: 80%;
  position: relative;
  top: 10%;
  width: 93%;

  div {
    // background: $blue;
    float: left;
    margin: 2.5%;
    position: absolute;
    width: 95%;

    p {
      font-size: 1rem;
    }
  }
}


// WORK SECTION

#work-section {
  background: white;
  clear: both;
  height: 100vh;
  width: 100%;
}

#work-section .nav-div {
  border-bottom: 2px solid $turquoise;
  box-sizing: border-box;
}

#work-section .text-container a {
  color: $turquoise;
}

#work-section .text-container a:hover {
  color: $blue;
}

#work-logo-hover {
  display: none;
}

#work-section #work-nav-div {
  background-color: $turquoise;
  border-bottom: 2px solid white;
  box-sizing: border-box;
}

#work-section #turquoise-work {
  color: white;
}

#work-section #work-image-div {
  // background: $blue;
  display: flex;
  float: left;
  height: 86.5%;
  justify-content: center;
  width: 50%;
}

#work-section #work-image {
  object-fit: contain;
  width: 70%;
}

#work-section #work-panel {
  align-items: center;
  background: $turquoise;
  display: flex;
  float: left;
  height: 86.5%;
  justify-content: center;
  left: 0%;
  position: relative;
  top: 0;
  width: 25%;

  div {
    width: 75%;

    h2 {
      color: white;
      font-size: 1.5rem;
      padding-bottom: 35px;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      color: white;
      font-size: 1rem;
      padding-bottom: 17.5px;
    }
  }
}

#work-section #work-buttons-div {
  align-items: center;
  float: left;
  display: flex;
  height: 86.5%;
  justify-content: center;
  width: 25%;

  div {
    // background: $blue;
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;

    button {
      background: none;
      border: 2px solid $turquoise;
      color: $turquoise;
      display: block;
      margin: auto;
    }

    button:hover {
      background: $turquoise;
      color: white;
    }
  }
}


// THE LATEST SECTION

#the-latest-section {
  background: $light-blue;
  clear: both;
  height: 100vh;
  width: 100%;
}

#the-latest-section .nav-div {
  border-bottom: 2px solid $purple;
  box-sizing: border-box;
}

#the-latest-section .text-container a {
  color: $purple;
}

#the-latest-section .text-container a:hover {
  color: $blue;
}

#the-latest-logo-hover {
  display: none;
}

#the-latest-section #the-latest-nav-div {
  background-color: $purple;
  border-bottom: 2px solid white;
  box-sizing: border-box;
}

#the-latest-section #purple-the-latest {
  color: $light-blue;
}

#the-latest-section #the-latest-blog-div {
  background: $blue;
  float: left;
  height: 86.5%;
  overflow: scroll;
  width: 75%;
}

#the-latest-section .blog-list {
  height: auto;
  margin: 0 5%;
  width: 90%;
}

#the-latest-section article {
  // background: $blue;
  height: 400px;
  margin: 50px 5%;
  width: 90%;
}

#the-latest-section .blog-description {
  width: 55%;

  h3 {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 45px;
    padding-bottom: 15px;
    text-transform: uppercase;
    width: 75%;
  }

  h4 {
    color: black;
    font-size: 0.9375rem;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    width: 90%;
  }
}

#the-latest-section .blog-description-left {
  float: right;
}

#the-latest-section .blog-description-right {
  float: left;

  h3, h4, p {
    text-align: right;
  }

  h3, p {
    float: right;
  }

  h4 {
    clear: both;
  }
}

#the-latest-section .blog-image {
  align-items: center;
  // background: $turquoise;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 40%;

  img {
    object-fit: contain;
    height: 90%;
    width: 80%;
  }
}

#the-latest-section .blog-image-left {
  float: left;
}

#the-latest-section .blog-image-right {
  float: right;
}


#the-latest-section #the-latest-panel {
  align-items: center;
  background: $purple;
  display: flex;
  float: left;
  height: 86.5%;
  justify-content: center;
  position: relative;
  top: 0;
  width: 25%;
}
