@import "partials/coffeeapp";

.projects .project-name {
  align-items: center;
  background: black;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;

  h1 {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
  }
}

.projects .description {
  float: left;
  margin-left: 5%;
  width: 50%;

  h2 {
    color: black;
    font-size: 2rem;
    padding-top: 75px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    line-height: 2rem;
    padding-bottom: 25px;
  }
}

.projects .overview-image {
  float: right;
  margin-right: 5%;
  width: 40%;
}

.projects .wireframe-image {
  float: left;
  height: auto;
  width: 50%;
}

.projects .wireframe-description {
  float: right;
  height: auto;
  width: 50%;

  h2 {
    color: white;
    font-size: 2rem;
    padding-top: 75px;
    padding-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    color: white;
    line-height: 2rem;
    margin: auto;
    padding-bottom: 25px;
    width: 50%;

    span {
      font-weight: bold;
    }
  }
}

.projects .mockups {
  clear: both;
  width: 100%;

  h2 {
    color: white;
    font-size: 2rem;
    margin-left: 5%;
    padding-top: 75px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    color: white;
    line-height: 2rem;
    padding-bottom: 25px;

    span {
      font-weight: bold;
    }
  }
}

.projects .prototypes {
  clear: both;
  width: 100%;

  h2 {
    color: black;
    font-size: 2rem;
    margin-left: 5%;
    padding-top: 75px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    color: black;
    line-height: 2rem;
    padding-bottom: 25px;

    span {
      font-weight: bold;
    }
  }
}
