.project-pages p {
  font-size: 1.15rem;
}

.project-pages header, footer {
  height: 100px;
  width: 100%;

  ul {
    float: right;
    margin-right: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    li {
      display: inline-block;
      list-style-type: none;

      a {
        color: black;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        padding: 0 25px;
        text-decoration: none;
        text-transform: uppercase;

        span {
          font-family: "Milkshake", "Avenir Next", sans-serif;
          font-size: 1.25rem;
          font-weight: normal;
          letter-spacing: 0rem;
          text-transform: lowercase;
          vertical-align: top;
        }
      }
    }
  }
}

.project-pages .the-latest {
  padding-left: 13px;
}

.project-pages .logo {
  float: left;
  height: 70px;
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
}

.project-pages .description {
  float: left;
  margin-left: 5%;
  width: 50%;

  h2 {
    color: black;
    font-size: 2rem;
    padding-top: 75px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    line-height: 2rem;
    padding-bottom: 25px;
  }
}

.project-pages .overview-image {
  float: right;
  margin-right: 5%;
  width: 40%;
}

.project-pages .wireframe-image {
  float: left;
  height: auto;
  width: 50%;
}

.project-pages .wireframe-description {
  align-items: center;
  display: flex;
  float: right;
  height: auto;
  justify-content: center;
  width: 50%;

    h2 {
      color: white;
      font-size: 2rem;
      // padding-top: 75px;
      padding-bottom: 25px;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      color: white;
      line-height: 2rem;
      margin: auto;
      padding-bottom: 25px;
      width: 50%;

      span {
        font-weight: bold;
      }
    }
  }

  .project-pages .last-paragraph {
    padding-bottom: 0;
  }

.project-pages .mockups {
  clear: both;
  width: 100%;

  h2 {
    color: white;
    font-size: 2rem;
    margin-left: 5%;
    padding-top: 75px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    color: white;
    line-height: 2rem;
    padding-bottom: 25px;

    span {
      font-weight: bold;
    }
  }
}

.project-pages .prototypes {
  clear: both;
  width: 100%;
}

.project-pages .prototypes-description {
  float: right;
  margin-right: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;

  h2 {
    color: black;
    font-size: 2rem;
    padding-top: 75px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    color: black;
    line-height: 2rem;
    padding-bottom: 25px;

    span {
      font-weight: bold;
    }
  }
}

.slick-prev:before, .slick-next:before {
    font-family: "Avenir Next";
    font-size: 40px;
    font-weight: 500;
  }

.project-pages .prototypes-image {
  align-items: center;
  float: left;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 40%;
}

.project-pages footer {
  div {
    float: left;
    margin-left: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    span {
      display: block;
      text-align: left;
    }
  }

  ul li a {
    font-size: 1.5rem;
    padding: 0 25px;

    span {
      font-size: 0.9375rem;
    }
  }
}

.project-pages footer .logo {
  float: none;
  height: 52.5px;
  margin: 0;
  top: 0%;
  transform: none;
}

.project-pages .project-name {
  align-items: center;
  background: black;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;

  h1 {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
  }
}
