// COLORS

$coral: #fa4a4c;
$electric-blue: #1fd4f9;
$light-gray: #ededed;
$dark-gray: #a6a6a6;
$royal-blue: #3d01c2;


// COLOR LOCATIONS

$hero-background: $coral;
$blog-background: $light-gray;
$blog-borders: $light-gray;
$blog-post-date: $dark-gray;
$blog-post-title: $electric-blue;
$blog-post-social-links: $dark-gray;
$footer: $royal-blue;
