// HEADER

.work-pages header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.work-pages header .nav-div {
  // border-bottom: 2px solid black;
  float: left;
  height: 100%;
  width: 25%;
}

.work-pages .text-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  top: 0;
  width: 100%;

  a {
    color: black;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-decoration: none;
    text-transform: uppercase;

    span {
      font-family: "Milkshake", "Avenir Next", sans-serif;
      font-size: 1.09375rem;
      font-weight: normal;
      letter-spacing: 0rem;
      text-transform: lowercase;
      vertical-align: top;
    }
  }
}

.work-pages header .logo {
  float: none;
  height: 52.5px;
  margin-left: none;
  padding-top: 5px;
  top: none;
  transform: none;
  width: auto;
}
