// HEADER

.work-pages header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.work-pages header .nav-div {
  // border-bottom: 2px solid black;
  float: left;
  height: 100%;
  width: 25%;
}

.work-pages .text-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  top: 0;
  width: 100%;

  a {
    color: black;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-decoration: none;
    text-transform: uppercase;

    span {
      font-family: "Milkshake", "Avenir Next", sans-serif;
      font-size: 1.09375rem;
      font-weight: normal;
      letter-spacing: 0rem;
      text-transform: lowercase;
      vertical-align: top;
    }
  }
}

.work-pages header .logo {
  float: none;
  height: 52.5px;
  margin-left: none;
  padding-top: 5px;
  top: none;
  transform: none;
  width: auto;
}

.work-pages .work-type {
  align-items: center;
  background: black;
  display: flex;
  height: 300px;
  justify-content: center;
  position: relative;
  top: 100px;
  width: 100%;

  h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 0.15px 0.15px 3px black;
    text-transform: uppercase;
  }
}

.work-pages .projects-list {
  height: auto;
  margin: 0 5%;
  width: 90%;
}

.work-pages article {
  // background: $blue;
  height: 400px;
  margin: 50px 5%;
  width: 90%;
}

.work-pages .project-description {
  width: 55%;

  h3 {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 45px;
    padding-bottom: 15px;
    text-transform: uppercase;
    width: 75%;
  }

  h4 {
    color: black;
    font-size: 0.9375rem;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    width: 90%;
  }
}

.work-pages .project-description-left {
  float: right;
}

.work-pages .project-description-right {
  float: left;

  h3, h4, p {
    text-align: right;
  }

  h3, p {
    float: right;
  }

  h4 {
    clear: both;
  }
}

.work-pages .project-image {
  align-items: center;
  // background: $turquoise;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 40%;

  img {
    object-fit: contain;
    height: 90%;
    width: 80%;
  }
}
.work-pages .project-image-left {
  float: left;
}

.work-pages .project-image-right {
  float: right;
}
