// ==========================================
// ABOUT PAGE
// ==========================================

// HERO

#about-page .hero-section {
  @include bg-image ($image-folder: "about", $bg-image: "graffiti");

  @include media-query(small) {
    @include bg-image ($image-folder: "about", $bg-image: "graffiti-mobile");
  }

  @include media-query(medium) {
    @include bg-image ($image-folder: "about", $bg-image: "graffiti-tablet-2");
  }
}


// OVERVIEW SECTION

#about-page .overview-left h2 {
  letter-spacing: 0rem;
  text-transform: none;
}

#about-page .overview-right img {
  width: 50%;

  @include media-query(small) {
    display: none;
  }

  @include media-query(medium) {
    width: 80%;
  }
}


// CONTACT SECTION

#about-page .contact-section {
  background: $color-body-accent;
  clear: both;
  height: auto;
  position: relative;
  width: 100%;
}

#about-page .contact-section .left-column {
  @include media-query(small) {
    display: block;
    position: static;
    width: 100%;
  }

  @include media-query(medium) {
    display: block;
    position: static;
    width: 100%;
  }
}

#about-page .contact-section .right-column {
  @include media-query(small) {
    display: block;
    left: 0;
    position: static;
    width: 100%;
  }

  @include media-query(medium) {
    display: block;
    left: 0;
    position: static;
    width: 100%;
  }
}

#about-page .contact-form {
  margin-left: $margin-section-horizontal;
  width: $width-page;

  @include media-query(small) {
    margin: 0 $margin-page-mobile-horizontal;
    padding: $padding-div 0 ($margin-body-text + ($margin-body-text / 4)) 0;
    width: $width-page-mobile;
  }

  @include media-query(medium) {
    margin: 0 $margin-page-tablet-horizontal;
    padding: $padding-div 0 ($margin-body-text + ($margin-body-text / 4)) 0;
    width: $width-page-tablet;
  }
}

#about-page .input-container {
  margin-right: 4.5%;
  width: 30%;

  @include media-query(small) {
    margin-right: 0;
    width: 100%;
  }

  @include media-query(medium) {
    margin-right: 4.25%;
    width: 30%;
  }
}

#about-page .input-container--last {
  width: 30%;

  @include media-query(small) {
    margin-right: 0;
    width: 100%;
  }
}

#about-page .contact-section .button-div {
  height: 100%;

  @include media-query(small) {
    padding-bottom: $padding-div;
  }

  @include media-query(medium) {
    padding-bottom: $padding-div;
  }
}

#about-page .contact-section .button-container {
  @include flexbox();
  height: 100%;
  width: 100%;
}
