// ==========================================
// BALLAD PAGE
// ==========================================

// HEADER AND FOOTER

#ballad-page .main-nav a:hover {
  color: $color-project-ballad;
}

#ballad-page .fa:hover {
  color: $color-project-ballad;
}

#ballad-page .main-nav-mobile-icon:hover {
  @include media-query(small) {
    color: $color-nav;
  }
}


// HERO

#ballad-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "ballad/ballad-wall");
}


// OVERVIEW SECTION

#ballad-page .overview-section {
  margin: 0;
  width: 100%;
}

#ballad-page .overview-container {
  @include flexbox ($direction: column);
  padding: ($padding-section + 30px) 25% ($padding-section - 30px) 25%;
  visibility: hidden;

  @include media-query(small) {
    padding: $padding-div $margin-page-mobile-horizontal;
    visibility: visible;
  }
}

#ballad-page .button-container {
  margin-top: $padding-div + 30px;
  margin-bottom: -30px;
  visibility: hidden;

  @include media-query(small) {
    margin-top: $padding-div;
    margin-bottom: 0;
    visibility: visible;
  }
}

#ballad-page .button {
  border: $border-button-ballad;

  span {
    color: $color-project-ballad;
  }

  &:hover {
    background: $color-project-ballad;
    border: $border-button-ballad-hover;

    span {
      color: $color-body;
    }
  }
}


// STYLED GUIDES SECTION

#ballad-page .style-guides-section {
  background: $color-body-accent;
  height: 615px;
  width: 100%;

  @include media-query(small) {
    height: auto;
    padding: $padding-div 0;
  }
}

#ballad-page .style-guides-section h2 {
  padding-left: $margin-page-horizontal;
  padding-top: $padding-div;

  @include media-query(small) {
    display: block;
    padding: 0 $margin-headline-mobile-horizontal;
    width: $width-headline-mobile;
  }
}

#ballad-page .colors-headline {
  margin-top: $margin-body-text;

  @include media-query(small) {
    margin-top: ($padding-div * (3/4));
  }
}

#ballad-page .colors {
  margin-top: $margin-body-text;

  li {
    display: inline-block;
    list-style-type: none;
    padding-right: 12.5px;
    width: auto;

    @include media-query(small) {
      padding-right: 8.75px;
    }

    img {
      float: left;
      margin-right: 0;
      width: 50px;

      @include media-query(small) {
        margin: 0;
        width: 35px;
      }
    }
  }
}

#ballad-page .typefaces-headline {
  margin-top: $margin-body-text;

  @include media-query(small) {
    margin-top: ($padding-div * (3/4));
  }
}

#ballad-page .typefaces {
  margin-top: $margin-body-text;

  li {
    display: inline-block;
    list-style-type: none;
    padding-right: 25px;

    img {
      float: left;
      height: 14px;
      margin: 0;
      object-fit: contain;
      width: auto;
    }
  }
}

#ballad-page .moodboards-headline {
  @include media-query(small) {
    display: block;
    padding: ($padding-div * (3/4)) $margin-page-mobile-horizontal 0 $margin-page-mobile-horizontal;
    width: $width-page-mobile;
  }
}

#ballad-page .synced-slider-for .moodboards {
  margin-top: $margin-body-text;

  @include media-query(small) {
    margin: $margin-body-text 10% $padding-div 10%;
    max-width: none;
    width: 80%;
  }
}

#ballad-page .synced-slider-nav {
  position: relative;
  top: 4%;

  @include media-query(small) {
    width: 60%;
  }

  img {
    @include box-shadow();
  }
}


// LOGO SECTION

#ballad-page .logo-section {
  @include bg-image ($bg-attachment: fixed, $image-folder: "projects", $bg-image: "ballad/retro-stripes");
  height: 540px; // Same height as the wireframes section on the Coffee App page
  width: 100%;

  @include media-query(small) {
    height: auto;
    padding: $padding-div 0;
  }
}

#ballad-page .logo-image-container {
  @include flexbox();
  float: left;
  height: 100%;
  margin-left: $margin-page-horizontal;
  width: 40.5%;

  @include media-query(small) {
    display: none;
  }

  img {
    object-fit: contain;
    width: 55%;
  }
}

#ballad-page .logo-description {
  @include flexbox($direction: column, $align: flex-start);
  float: right;
  height: 100%;
  margin-right: $margin-page-horizontal;
  width: 49.5%;

  @include media-query(small) {
    display: block;
    float: none;
    height: auto;
    margin: 0 $margin-page-mobile-horizontal;
    width: $width-page-mobile;
  }

  span {
    font-weight: $font-weight-bold;
    padding-right: 2.5px;
  }
}

.logo-mobile {
  display: none;

  @include media-query(small) {
    display: block;
    margin: $padding-div 20% 0 20%;
    object-fit: contain;
    width: 60%;
  }
}


// DESKTOP MOCKUP SECTION

#ballad-page .desktop-mockup-section {
  background: $color-body;
  clear: both;
  height: auto;
  width: 100%;
}

#ballad-page .desktop-mockup-section h2 {
  padding-left: $margin-page-horizontal;
  padding-top: $padding-section;

  @include media-query(small) {
    display: block;
    padding: $padding-div $margin-headline-mobile-horizontal 0 $margin-headline-mobile-horizontal;
    width: $width-headline-mobile;
  }
}

#ballad-page .desktop-mockup-section .mockup-image-container {
  margin: 0 $margin-section-horizontal;
  width: 80%;

  @include media-query(small) {
    margin: 0 $margin-image-mobile-horizontal;
    width: $width-image-mobile;
  }

  img {
    @include box-shadow($v: 0.5px, $s: 1.5px);
    margin: $padding-div 0 $padding-section 0;
    object-fit: contain;
    width: 100%;

    @include media-query(small) {
      margin-bottom: $padding-div;
    }
  }
}


// MOBILE PROTOTYPE SECTION

#ballad-page .mobile-prototype-section {
  background: $color-body-accent;
  // Height is being calculated in ballad.js
  width: 100%;

  @include media-query(small) {
    display: none;
  }
}

#ballad-page .mobile-prototype-image-container {
  @include flexbox();
  float: left;
  height: 100%;
  // margin-left: $margin-page-horizontal;
  width: 40.5%;

  img {
    object-fit: contain;
    width: 45%;
  }
}

#ballad-page .mobile-prototype-description {
  @include flexbox($direction: column, $align: flex-start);
  float: right;
  height: 100%;
  margin-right: $margin-section-horizontal;
  width: 49.5%;

  span {
    font-weight: $font-weight-bold;
    padding-right: 2.5px;
  }
}


// RESPONSIVE SITE SECTION

#ballad-page .responsive-site-section {
  @include flexbox();
  // Height is being calculated in ballad.js
  width: 100%;

  @include media-query(small) {
    background: $color-body-accent;
  }

  img {
    object-fit: contain;
    transform: translateX(35px);
    width: 60%;

    @include media-query(small) {
      transform: translateX(10px);
      width: 90%;
    }
  }
}
