// ==========================================
// BALLAD PAGE
// ==========================================

// HEADER AND FOOTER

#ballad-page .main-nav a:hover {
  color: $color-project-ballad;
}

#ballad-page .fa:hover {
  color: $color-project-ballad;
}


// HERO

#ballad-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "ballad/ballad-wall");
}


// OVERVIEW SECTION

#ballad-page .overview-section {
  margin: 0;
  width: 100%;
}

#ballad-page .overview-container {
  @include flexbox ($direction: column);
  padding: ($padding-section + 30px) 25% ($padding-section - 30px) 25%;
  visibility: hidden;
}

#ballad-page .button-container {
  margin-top: $padding-div + 30px;
  margin-bottom: $margin-body-text - 30px;
  visibility: hidden;
}

#ballad-page .button {
  border: $border-button-ballad;

  span {
    color: $color-project-ballad;
  }

  &:hover {
    background: $color-project-ballad;
    border: $border-button-ballad-hover;

    span {
      color: $color-body;
    }
  }
}


// STYLED GUIDES SECTION

#ballad-page .style-guides-section {
  background: $color-body-accent;
  height: 615px;
  width: 100%;
}

#ballad-page .style-guides-section h2 {
  padding-left: $margin-page-horizontal;
  padding-top: $padding-div;
}

#ballad-page .synced-slider-for .margin-top {
  margin-top: $margin-body-text;
}

#ballad-page .colors li {
  display: inline-block;
  list-style-type: none;
  padding-right: 12.5px;
  width: auto;

  img {
    float: left;
    margin-right: 0;
    width: 50px;
  }
}

#ballad-page .typefaces li {
  display: inline-block;
  list-style-type: none;
  padding-right: 25px;

  img {
    float: left;
    height: 14px;
    margin-right: 0;
    object-fit: contain;
    width: auto;
  }
}

#ballad-page .synced-slider-for .moodboards {
  margin-top: $margin-body-text;
}

#ballad-page .synced-slider-nav {
  position: relative;
  top: 4%;

  img {
    @include box-shadow();
  }
}


// LOGO SECTION

#ballad-page .logo-section {
  @include bg-image ($bg-attachment: fixed, $image-folder: "projects", $bg-image: "ballad/retro-stripes");
  height: 540px; // Same height as the wireframes section on the Coffee App page
  width: 100%;
}

#ballad-page .logo-image-container {
  @include flexbox();
  float: left;
  height: 100%;
  margin-left: $margin-page-horizontal;
  width: 40.5%;

  img {
    object-fit: contain;
    width: 55%;
  }
}

#ballad-page .logo-description {
  @include flexbox($direction: column, $align: flex-start);
  float: right;
  height: 100%;
  margin-right: $margin-page-horizontal;
  width: 49.5%;

  span {
    font-weight: $font-weight-bold;
    padding-right: 2.5px;
  }
}


// DESKTOP MOCKUP SECTION

#ballad-page .desktop-mockup-section {
  background: $color-body;
  height: auto;
  width: 100%;
}

#ballad-page .desktop-mockup-section h2 {
  padding-left: $margin-page-horizontal;
  padding-top: $padding-section;
}

#ballad-page .desktop-mockup-section .mockup-image-container {
  margin: 0 $margin-section-horizontal;
  width: 80%;

  img {
    @include box-shadow($v: 0.5px, $s: 1.5px);
    margin: $padding-div 0 $padding-section 0;
    object-fit: contain;
    width: 100%;
  }
}


// MOBILE PROTOTYPE SECTION

#ballad-page .mobile-prototype-section {
  background: $color-body-accent;
  // Height is being calculated in ballad.js
  width: 100%;
}

#ballad-page .mobile-prototype-image-container {
  @include flexbox();
  float: left;
  height: 100%;
  // margin-left: $margin-page-horizontal;
  width: 40.5%;

  img {
    object-fit: contain;
    width: 45%;
  }
}

#ballad-page .mobile-prototype-description {
  @include flexbox($direction: column, $align: flex-start);
  float: right;
  height: 100%;
  margin-right: $margin-section-horizontal;
  width: 49.5%;

  span {
    font-weight: $font-weight-bold;
    padding-right: 2.5px;
  }
}


// RESPONSIVE SITE SECTION

#ballad-page .responsive-site-section {
  @include flexbox();
  // Height is being calculated in ballad.js
  width: 100%;

  img {
    object-fit: contain;
    transform: translateX(35px);
    width: 60%;
  }
}
