// ==========================================
// BLOG POST PAGE
// ==========================================

// HERO

#blog-post-page .hero-section {
  @include bg-image ($image-folder: "the-latest", $bg-image: "corkboard");

  @include media-query(small) {
    @include bg-image ($image-folder: "the-latest", $bg-image: "corkboard-mobile");
  }

  @include media-query(medium) {
    @include bg-image ($image-folder: "the-latest", $bg-image: "corkboard-tablet");
  }
}

#blog-post-page .headline-container {
  height: -webkit-calc(100% - 130px);
  height:   -moz-calc(100% - 130px);
  height:     calc(100% - 130px);

  @include media-query(small) {
    height: -webkit-calc(100% - 105px);
    height:   -moz-calc(100% - 105px);
    height:     calc(100% - 105px);
  }

  @include media-query(medium) {
    height: -webkit-calc(100% - 105px);
    height:   -moz-calc(100% - 105px);
    height:     calc(100% - 105px);
  }
}


// CONTENT SECTION

#blog-post-page .content-section {
  background: $color-body;
  height: auto;
  margin: 0 $margin-section-horizontal;
  position: relative;
  top: $height-content-offset;
  width: $width-page-blog;

  &:before {
    content: url("#{$path-image}/blog-post/shadow-left.png");
    left: -8px;
    position: absolute;
    top: 100px; // Positive of $height-content-offset

    @include media-query(small) {
      top: 50px; // Positive of ($height-content-offset / 2)
    }
  }

  &:after {
    content: url("#{$path-image}/blog-post/shadow-right.png");
    position: absolute;
    right: -8px;
    top: 100px; // Positive of $height-content-offset

    @include media-query(small) {
      top: 50px; // Positive of ($height-content-offset / 2)
    }
  }

  @include media-query(small) {
    top: ($height-content-offset / 2);
    margin: 0 $margin-page-blog-mobile-horizontal;
    width: $width-page-blog-mobile;
  }

  @include media-query(medium) {
    margin: 0 $margin-page-blog-tablet-horizontal;
    width: $width-page-blog-tablet;
  }
}

#blog-post-page .push-pin {
  padding-bottom: 20px;

  @include media-query(small) {
    padding-bottom: 0;
  }

  @include media-query(medium) {
    padding-bottom: 0;
  }
}

#blog-post-page .share-figure {
  display: inline-block;
  float: left;
  left: 25px;
  margin: 0;
  position: relative;
  width: 100px;

  @include media-query(small) {
    display: none;
  }

  @include media-query(medium) {
    display: none;
  }

  figcaption {
    height: auto;

    div {
      @include flexbox($justify: center, $direction: column);
      height: 100%;
    }
  }
}

#blog-post-page .blog-social-media {

  @include e(item) {
    display: block;
    list-style-type: none;
  }
}

#blog-post-page .content-section .fa {
  border-bottom: $border-divider;
  border-right: none;
  font-size: (0.875 * 1.75rem);
  padding: 20.25px 15px;
}

#blog-post-page .content-section .fa-twitter {
  border-bottom: none;
  padding-bottom: 5.25px;
}

#blog-post-page .blog-post-container {
  float: left;
  height: auto;
  left: 60px;
  margin-bottom: $margin-section-vertical;
  position: relative;
  width: 600px;

  @include media-query(small) {
    float: none;
    left: 0;
    margin: 0 $margin-page-blog-mobile-horizontal ($margin-section-vertical / 2) $margin-page-blog-mobile-horizontal;
    position: relative;
    width: $width-page-blog-mobile;
  }

  @include media-query(medium) {
    float: none;
    left: 0;
    margin: 0 $margin-page-blog-tablet-horizontal ($margin-section-vertical / 2) $margin-page-blog-tablet-horizontal;
    position: relative;
    width: $width-page-blog-tablet;
  }
}

#blog-post-page .blog-post__paragraph--first {
  margin-top: 0px;
}

#blog-post-page .blog-post__image {
  margin-top: $margin-body-text;
  object-fit: contain;
  width: 100%;
}

#blog-post-page .directory-nav-container {
  float: right;
  position: relative;
  right: 25px;
  width: 300px;

  @include media-query(small) {
    display: none;
  }

  @include media-query(medium) {
    display: none;
  }
}
