// ==========================================
// BLOG POST PAGE
// ==========================================

#blog-post-page {
  background: $color-body;
}


// HERO

#blog-post-page .hero-section {
  @include bg-image ($image-folder: "the-latest", $bg-image: "corkboard");
  // background: $color-hero-background;
}

#blog-post-page .headline-container {
  height: -webkit-calc(100% - 155px);
  height: calc(100% - 155px);
}


// CONTENT SECTION

#blog-post-page .content-section {
  background: $color-body;
  height: 800px;
  margin: 0 $margin-section-horizontal;
  position: relative;
  top: -100px;
  width: 80%;
}

#blog-post-page figure {
  float: left;
  left: 25px;
  position: relative;
  top: 25px;
  width: 100px;

  figcaption {
    height: 160px;

    div {
      @include flexbox($justify: center, $direction: column);

      span {
        font-size: (0.75 * 2.25rem);
      }
    }
  }
}

#blog-post-page .share-container {
  height: 30%;
  padding-top: 5%;
}

#blog-post-page .blog-social-media-container {
  height: 70%;
  padding-bottom: 5%;
}

#blog-post-page .blog-social-media {

  @include e(item) {
    display: block;
    list-style-type: none;
  }
}

#blog-post-page .content-section .fa {
  font-size: (0.875 * 1.75rem);
  padding: 7px 0px;
}

#blog-post-page .fa {
  border: none;
}
