// ==========================================
// COFFEE APP PAGE
// ==========================================

#coffee-app-page * {
  ::selection {
    background: rgba($color-project-coffee-app-primary, 0.25);
  }
}

// HEADER AND FOOTER

#coffee-app-page .main-nav a:hover {
  color: $color-project-coffee-app-secondary;
}

#coffee-app-page .fa:hover {
  color: $color-project-coffee-app-secondary;
}

#coffee-app-page .main-nav-mobile-icon:hover {
  @include media-query(small) {
    color: $color-nav;
  }
}


// HERO

#coffee-app-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "coffee-app/coffee-app-wall");
}

// PROJECT OVERVIEW SECTION

#coffee-app-page .project-overview-section__line--overview {
  border-color: $color-project-coffee-app-primary;
}


// PROJECT BACKGROUND IMAGE SECTION

#coffee-app-page .project-background-image-section {
  @include bg-image ($image-folder: "projects", $bg-image: "coffee-app/palm-trees");
}


// MOCKUPS SECTION

#coffee-app-page .mockups-section {
  @include bg-image ($bg-attachment: fixed, $image-folder: "projects", $bg-image: "coffee-app/palm-trees");
  height: 615px;
  width: 100%;

  @include media-query(small) {
    height: auto;
    padding: $padding-div 0;
    width: 100%;
  }

  @include media-query(medium) {
    height: auto;
    padding: $padding-div 0;
    width: 100%;
  }
}

#coffee-app-page .mockups-section h2 {
  padding-left: $margin-page-horizontal;
  padding-top: $padding-div;

  @include media-query(small) {
    display: block;
    padding: 0 $margin-headline-mobile-horizontal;
    width: $width-headline-mobile;
  }

  @include media-query(medium) {
    display: block;
    padding: 0 $margin-headline-tablet-horizontal;
    width: $width-headline-tablet;
  }
}

#coffee-app-page .synced-slider-for img {
  max-width: 200px;

  @include media-query(small) {
    margin: $margin-body-text 20% $padding-div 20%;
    max-width: none;
    width: 60%;
  }
}

#coffee-app-page .synced-slider-nav {
  @include media-query(small) {
    width: 60%;
  }

  @include media-query(medium) {
    position: relative;
    top: 7.5px;
    width: 40%;
  }
}
