// ==========================================
// COFFEE APP PAGE
// ==========================================

// HEADER AND FOOTER

#coffee-app-page .main-nav a:hover {
  color: $color-project-coffee-app;
}

#coffee-app-page .fa:hover {
  color: $color-project-coffee-app;
}

#coffee-app-page .main-nav-mobile-icon:hover {
  @include media-query(small) {
    color: $color-nav;
  }
}


// HERO

#coffee-app-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "coffee-app/coffee-app-wall");
}


// OVERVIEW SECTION

#coffee-app-page .overview-section {
  margin: 0 $margin-page-horizontal;
  width: $width-page;

  @include media-query(small) {
    margin: 0 $margin-page-mobile-horizontal;
    width: $width-page-mobile;
  }
}

#coffee-app-page .overview-left, .overview-right {
  margin-bottom: $margin-section-vertical - 30px;
  padding-top: $padding-section + 30px;
  visibility: hidden;

  @include media-query(small) {
    padding-top: $padding-div;
    margin-bottom: 0;
    visibility: visible;
  }

  @include media-query(medium) {
    padding-top: $padding-section;
    margin-bottom: $margin-section-vertical;
    visibility: visible;
  }
}

#about-page .overview-right {
  @include media-query(small) {
    margin-bottom: $padding-div;
  }

  @include media-query(medium) {
    padding-top: $padding-section;
    margin-bottom: $margin-section-vertical;
    visibility: visible;
  }
}

#coffee-app-page .overview-right img {
  width: 55%;

  @include media-query(small) {
    display: none;
  }
}


// WIREFRAMES SECTION

#coffee-app-page .wireframes-section {
  background: $color-blog-section;
  border-bottom: $border-section;
  border-top: $border-section;
  clear: both;
  // Height is being calculated in coffee-app.js
  width: 100%;
}

#coffee-app-page .left-column {
  background: $color-body-accent;
  height: auto;
  margin-left: $margin-section-horizontal;
  padding: ($padding-div * 2) 0;
  width: $width-page;

  @include media-query(small) {
    margin-left: 0;
    padding: $padding-div 0;
    width: 100%;
  }

  @include media-query(medium) {
    margin-left: 0;
    padding: $padding-div 5%;
    width: 90%;
  }
}

#coffee-app-page .headline-mobile {
  display: none;

  @include media-query(small) {
    display: block;
    padding: 0 $margin-headline-mobile-horizontal $margin-body-text $margin-headline-mobile-horizontal;
    width: $width-headline-mobile;
  }

  @include media-query(medium) {
    display: block;
    padding-bottom: $margin-body-text;
    width: $width-headline-tablet;
  }
}

#coffee-app-page .left-image {
  @include box-shadow;
  background: $color-body;
  border: 15px solid $color-figure;
  float: left;
  height: auto;
  left: -5%;
  object-fit: contain;
  position: relative;
  width: 40%;

  @include media-query(small) {
    box-sizing: border-box;
    display: block;
    float: none;
    left: 0;
    margin: 0 $margin-image-mobile-horizontal;
    position: static;
    width: $width-image-mobile;
  }

  @include media-query(medium) {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    left: 0;
    margin-left: 0;
    margin-right: 5%;
    padding: 0;
    width: 45%;
  }
}

#coffee-app-page .right-description {
  height: auto;
  padding-right: $margin-section-horizontal;
  width: 45%;

  @include media-query(small) {
    padding: 0 $margin-page-mobile-horizontal;
    width: $width-page-mobile;
  }

  @include media-query(medium) {
    display: inline;
    float: none;
  }

  h2 {
    @include media-query(small) {
      display: none;
    }

    @include media-query(medium) {
      display: none;
    }
  }

  p:first-of-type {
    @include media-query(medium) {
      margin-top: -15px;
    }
  }

  span {
    font-weight: $font-weight-bold;
    padding-right: 2.5px;
  }
}


// MOCKUPS SECTION

#coffee-app-page .mockups-section {
  @include bg-image ($bg-attachment: fixed, $image-folder: "projects", $bg-image: "coffee-app/palm-trees");
  height: 615px;
  width: 100%;

  @include media-query(small) {
    height: auto;
    padding: $padding-div 0;
    width: 100%;
  }

  @include media-query(medium) {
    height: auto;
    padding: $padding-div 0;
    width: 100%;
  }
}

#coffee-app-page .mockups-section h2 {
  padding-left: $margin-page-horizontal;
  padding-top: $padding-div;

  @include media-query(small) {
    display: block;
    padding: 0 $margin-headline-mobile-horizontal;
    width: $width-headline-mobile;
  }

  @include media-query(medium) {
    display: block;
    padding: 0 $margin-headline-tablet-horizontal;
    width: $width-headline-tablet;
  }
}

#coffee-app-page .synced-slider-for img {
  max-width: 200px;

  @include media-query(small) {
    margin: $margin-body-text 20% $padding-div 20%;
    max-width: none;
    width: 60%;
  }
}

.synced-slider-nav {
  @include media-query(small) {
    width: 60%;
  }
}


// PROTOTYPE SECTION

#coffee-app-page .prototype-section {
  background: $color-body;
  clear: both;
  // Height is being calculated in coffee-app.js
  width: $width-page;

  @include media-query(small) {
    display: none;
  }

  @include media-query(medium) {
    height: auto;
  }
}

#coffee-app-page .prototype-image-container {
  @include flexbox();
  float: left;
  height: 100%;
  width: 45%;

  img {
    object-fit: contain;
    width: 45%;
  }
}

#coffee-app-page .prototype-description {
  @include flexbox($direction: column, $align: flex-start);
  float: right;
  height: 100%;
  width: 55%;

  @include media-query(medium) {
    padding: $padding-div 0;
  }

  span {
    font-weight: $font-weight-bold;
    padding-right: 2.5px;
  }
}
