// ==========================================
// DOGTOOTH COVER ART PAGE
// ==========================================

// HEADER AND FOOTER

#dogtooth-cover-art-page .main-nav a:hover {
  color: $color-project-dogtooth-cover-art;
}

#dogtooth-cover-art-page .fa:hover {
  color: $color-project-dogtooth-cover-art;
}

#dogtooth-cover-art-page .main-nav-mobile-icon:hover {
  @include media-query(small) {
    color: $color-nav;
  }
}


// HERO

#dogtooth-cover-art-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "dogtooth-cover-art/dogtooth-cover-art-wall");
}


// OVERVIEW SECTION

#dogtooth-cover-art-page .overview-section {
  margin: 0 $margin-page-horizontal;
  width: $width-page;

  @include media-query(small) {
    margin: 0 $margin-page-mobile-horizontal;
    width: $width-page-mobile;
  }

  @include media-query(medium) {
    margin: 0;
    width: 100%;
  }
}

#dogtooth-cover-art-page .overview-left, .overview-right {
  margin-bottom: $margin-section-vertical - 30px;
  padding-top: $padding-section + 30px;
  visibility: hidden;

  @include media-query(small) {
    padding-top: $padding-div;
    margin-bottom: 0;
    visibility: visible;
  }

  @include media-query(medium) {
    margin-bottom: $padding-section;
    padding-top: $padding-section;
    visibility: visible;
  }
}

#about-page .overview-right {
  @include media-query(small) {
    margin-bottom: $padding-div;
  }

  @include media-query(medium) {
    margin-bottom: $margin-section-vertical;
    padding-top: $padding-section;
    visibility: visible;
  }
}

#dogtooth-cover-art-page .overview-right iframe {
  height: 500px;
  width: 55%;
}


// COVER ART SECTION

#dogtooth-cover-art-page .cover-art-section {
  clear: both;
  color: $color-body-accent;
  height: 625px;
  padding: $padding-section 0;
  width: 100%;

  @include media-query(small) {
    height: auto;
    padding: $padding-div 0;
  }
}

#dogtooth-cover-art-page .cover-art-section h2 {
  padding-left: $margin-page-horizontal;

  @include media-query(small) {
    display: block;
    padding: 0 $margin-headline-mobile-horizontal;
    width: $width-headline-mobile;
  }
}

#dogtooth-cover-art-page .cover-art-image-container {
  @include flexbox();
  // Height is being calculated in dogtooth-cover-art.js
  margin-top: $margin-body-text;
  width: 100%;

  @include media-query(small) {
    display: block;
    margin: $margin-body-text $margin-image-mobile-horizontal 0 $margin-image-mobile-horizontal;
    width: $width-image-mobile;
  }

  img {
    height: 100%;
    object-fit: contain;

    @include media-query(small) {
      height: auto;
      width: 100%;
    }
  }
}

#dogtooth-cover-art-page .cover-art-description {
  @include flexbox();
  height: 75px;
  width: 100%;

  @include media-query(small) {
    display: block;
    margin: 0 5%;
    width: 90%;
  }

  span {
    font-weight: $font-weight-bold;
    padding-right: 2.5px;
  }
}
