// ==========================================
// DOGS BOOKLET PAGE
// ==========================================

// HEADER AND FOOTER

#dogs-booklet-page .main-nav a:hover {
  color: $color-project-dogs-booklet;
}

#dogs-booklet-page .fa:hover {
  color: $color-project-dogs-booklet;
}

#dogs-booklet-page .main-nav-mobile-icon:hover {
  @include media-query(small) {
    color: $color-nav;
  }
}


// HERO

#dogs-booklet-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "dogs-booklet/dogs-booklet-wall");
}

// PROJECT OVERVIEW

.project-overview-section__line--overview {
  border-color: $dogs-booklet-magenta;
}


// PROJECT BACKGROUND IMAGE SECTION

#dogs-booklet-page .project-background-image-section {
  @include bg-image ($image-folder: "projects", $bg-image: "dogs-booklet/run");
}


// PROJECT FLEX SECTION

#dogs-booklet-page .project-flex-section img {
  height: 80%;
}
