// ==========================================
// DOGS BOOKLET PAGE
// ==========================================

// HEADER AND FOOTER

#dogs-booklet-page .main-nav a:hover {
  color: $color-project-dogs-booklet;
}

#dogs-booklet-page .fa:hover {
  color: $color-project-dogs-booklet;
}

#dogs-booklet-page .main-nav-mobile-icon:hover {
  @include media-query(small) {
    color: $color-nav;
  }
}


// HERO

#dogs-booklet-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "dogs-booklet/dogs-booklet-wall");
}


// OVERVIEW SECTION

#dogs-booklet-page .overview-right {
  @include media-query(small) {
    padding-bottom: 0;
  }
}


// LAYOUT SECTION

#dogs-booklet-page .layout-section {
  background: $color-body-accent;
  clear: both;
  height: auto;
  width: 100%;
}

#dogs-booklet-page .layout-section h2 {
  padding-left: $margin-page-horizontal;
  padding-top: $padding-section;
  position: relative;
  z-index: 20;

  @include media-query(small) {
    display: block;
    padding: $padding-div $margin-headline-mobile-horizontal 0 $margin-headline-mobile-horizontal;
    width: $width-headline-mobile;
  }
}

#dogs-booklet-page .layout-iframe-cover--top, #dogs-booklet-page .layout-iframe-cover--bottom {
  background: $color-body-accent;
}

#dogs-booklet-page .layout-description {
  @include flexbox();
  height: 75px;
  padding-bottom: $padding-section;
  margin-top: -75px;
  position: relative;
  width: 100%;
  z-index: 20;

  @include media-query(small) {
    bottom: 50px;
    display: block;
    margin: 0 5% -75px 5%;
    position: relative;
    width: 90%;
  }

  span {
    font-weight: $font-weight-bold;
    padding-right: 2.5px;
  }
}
