// ==========================================
// DOGS BOOKLET PAGE
// ==========================================

// HEADER AND FOOTER

#dogs-booklet-page .main-nav a:hover {
  color: $color-project-dogs-booklet;
}

#dogs-booklet-page .fa:hover {
  color: $color-project-dogs-booklet;
}

#dogs-booklet-page .main-nav-mobile-icon:hover {
  @include media-query(small) {
    color: $color-nav;
  }
}


// HERO

#dogs-booklet-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "dogs-booklet/dogs-booklet-wall");
}


// OVERVIEW SECTION

#dogs-booklet-page .overview-right {
  @include media-query(small) {
    padding-bottom: 0;
  }
}
