// ==========================================
// DOGTOOTH COVER ART PAGE
// ==========================================

// HEADER AND FOOTER

#dogtooth-cover-art-page .main-nav a:hover {
  color: $color-project-dogtooth-cover-art;
}

#dogtooth-cover-art-page .fa:hover {
  color: $color-project-dogtooth-cover-art;
}

#dogtooth-cover-art-page .main-nav-mobile-icon:hover {
  @include media-query(small) {
    color: $color-nav;
  }
}


// HERO

#dogtooth-cover-art-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "dogtooth-cover-art/dogtooth-cover-art-wall");
}

#dogtooth-cover-art-page .headline-container h1 {
  @include media-query(small) {
    font-size: 1.66rem;
  }
}


// OVERVIEW SECTION

#dogtooth-cover-art-page .overview-right {
  @include media-query(small) {
    padding-bottom: 0;
  }
}


// COVER ART SECTION

#dogtooth-cover-art-page .cover-art-section {
  background: $color-body-accent;
  clear: both;
  height: auto;
  padding: $padding-section 0;
  width: 100%;

  @include media-query(small) {
    height: auto;
    padding: $padding-div 0;
  }

  @include media-query(medium) {
    height: auto;
  }
}

#dogtooth-cover-art-page .cover-art-section h2 {
  padding-left: $margin-page-horizontal;

  @include media-query(small) {
    display: block;
    padding: 0 $margin-headline-mobile-horizontal;
    width: $width-headline-mobile;
  }
}

#dogtooth-cover-art-page .cover-art-image-container {
  @include flexbox();
  height: auto;
  margin: $margin-body-text 36.25% 0 36.25%;
  width: 27.5%;

  @include media-query(small) {
    display: block;
    margin: $padding-div 10% 0 10%;
    width: 80%;
  }

  @include media-query(medium) {
    display: block;
    margin: $padding-div 20% 0 20%;
    width: 60%;
  }

  img {
    @include box-shadow();
    height: auto;
    object-fit: contain;
    width: 100%;
  }
}

#dogtooth-cover-art-page .cover-art-description {
  @include flexbox();
  height: 75px;
  width: 100%;

  @include media-query(small) {
    display: block;
    padding: 0 5%;
    width: 90%;
  }

  span {
    font-weight: $font-weight-bold;
    padding-right: 2.5px;
  }
}
