// ==========================================
// HOME PAGE
// ==========================================

// HERO

#home-page #hero {
  background: $color-hero-background;
  height: 100vh;
  width: 100%;
}


// ABOUT SECTION

#about-section {
  background: $color-body;
  height: 100vh;
  width: 100%;
}


// BLOG SECTION

#blog-section {
  background: $color-body;
  border-bottom: $border;
  border-top: $border;
  clear: both;
  height: auto;
  overflow: hidden;
  width: 100%;
}

#blog-section #blog-div {
  float: left;
  position: relative;
  width: 75%;
}

#blog-section #blog-panel {
  background: $color-body;
  left: 75%;
  overflow-y: scroll;
  position: absolute;
  width: 25%;
}

#blog-section .blog-slider-for {
  background: $color-blog-background;
  float: right;
  width: 87.5%;

  div {
    overflow: visible;
  }
}

#blog-section .blog-post {
  overflow: hidden;
  padding-bottom: $padding-div;
  padding-top: $padding-div;
  width: 100%;

    figure {
      @include box-shadow;
      background: $color-body;
      border: 15px solid $color-body;
      float: left;
      margin: 0;
      position: relative;
      right: 5%;
      width: 30%;

      img {
        object-fit: contain;
        width: 100%;
      }

      figcaption {
        background: $color-body;
        height: 160px;
        width: 100%;

        div {
          @include flexbox($direction: row, $justify: space-around);
          width: 100%;

          span {
            color: $color-blog-post-social-link;
            font-family: $font-stack-secondary;
            font-size: 2.25rem;
            text-transform: lowercase;
            position: relative;
          }
        }
      }
    }
  }

#blog-section .share-container {
  height: 40%;
  padding-top: 5%;
}

#blog-section .social-media-icons-container {
  height: 50%;
  padding-bottom: 5%;
}

#blog-section .fa {
  color: $color-blog-post-social-link;
  font-size: 1.75rem;
  cursor: pointer;
  padding: 0 35px;
}

#blog-section .fa-facebook, .fa-twitter {
  border-right: $border;
}

#blog-section .slick-slide {
  height: 0;
}

#blog-section .slick-current, .slick-active {
  height: auto;
}

#blog-section .blog-slider-description {
  display: inline-block;
  float: right;
  padding-right: 5%;
  width: 60%;

  span {
    color: $color-date;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding-top: $padding-body-text;
    text-transform: uppercase;
  }

  h3 {
    color: $color-headline;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 18.75px;
    text-transform: uppercase;
  }

  p {
    color: $color-body-text;
    line-height: 2rem;
    padding-top: $padding-body-text;
  }
}

#blog-section .blog-slider-nav {
  overflow-y: scroll;

  div {
    background: $color-body;
    border-bottom: $border;
    display: block;
    height: 100px;
    cursor: pointer;
    width: 100%;

    img {
      @include vertical-align;
      display: inline-block;
      max-height: 75%;
      float: left;
      object-fit: contain;
      padding-left: 5%;
      width: 30%;
    }
  }
}

.blog-post-title-container {
  display: inline-block;
  float: left;
  padding-left: 5%;
  position: relative;
  top: 15%;
  width: 60%;

  span {
    color: $color-date;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }

  h5 {
    color: $color-blog-post-title;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding-top: 2.5px;
    text-transform: uppercase;
  }
}


// PROJECTS SECTION

#projects-section {
  background: $color-body;
  clear: both;
  height: 100vh;
  width: 100%;
}
