// ==========================================
// JAMAICA STICKERS PAGE
// ==========================================

#jamaica-stickers-page * {
  ::selection {
    background: rgba($color-project-jamaica-stickers-primary, 0.25);
  }
}

// HEADER AND FOOTER

#jamaica-stickers-page .main-nav a:hover {
  color: $color-project-jamaica-stickers-secondary;
}

#jamaica-stickers-page .fa:hover {
  color: $color-project-jamaica-stickers-secondary;
}

#jamaica-stickers-page .main-nav-mobile-icon:hover {
  @include media-query(small) {
    color: $color-nav;
  }
}


// HERO

#jamaica-stickers-page .hero-section {
  @include bg-image ($image-folder: "projects", $bg-image: "jamaica-stickers/jamaica-stickers-wall");
}

#jamaica-stickers-page .headline-container h1 {
  @include media-query(small) {
    font-size: 1.66rem;
  }
}


// PROJECT OVERVIEW

#jamaica-stickers-page .project-overview-section__line--overview {
  border-color: $color-project-jamaica-stickers-primary;
}


// PROJECT MAIN IMAGE SECTION

#jamaica-stickers-page .project-main-image-section__image-container img {
  @include media-query(medium) {
    width: 100%;
  }
}

// PROJECT FLEX SECTION

#jamaica-stickers-page .project-flex-section img {
  height: 50%;
  padding: 0 25px;

  @include media-query(small) {
    padding: 0;
  }

  @include media-query(medium) {
    height: 40%;
    padding: 0 15px;
  }
}
