// ==========================================
// THE LATEST PAGE
// ==========================================

// HERO

#the-latest-page .hero-section {
  @include bg-image ($image-folder: "the-latest", $bg-image: "corkboard");

  @include media-query(small) {
    @include bg-image ($image-folder: "the-latest", $bg-image: "corkboard-mobile");
  }
}

#the-latest-page .headline-container {
  height: -webkit-calc(100% - 130px);
  height:   -moz-calc(100% - 130px);
  height:     calc(100% - 130px);

  @include media-query(small) {
    height: -webkit-calc(100% - 105px);
    height:   -moz-calc(100% - 105px);
    height:     calc(100% - 105px);
  }

  h1 span {
    font-family: $font-stack-accent;
    font-size: $font-size-page-title-accent;
    font-weight: $font-weight-regular;
    letter-spacing: 0rem;
    text-transform: lowercase;
    vertical-align: top;

    @include media-query(small) {
      font-size: $font-size-page-title-accent-mobile;
    }
  }
}


// CONTENT SECTION

#the-latest-page .content-section {
  background: $color-body;
  height: auto;
  margin: 0 $margin-page-horizontal ($margin-section-vertical * 1.5) $margin-page-horizontal;
  position: relative;
  width: $width-page;
}

#the-latest-page .directory-nav-container {
  display: inline-block;
  float: left;
  // Height is being calculated in the-latest.js
  padding-top: $padding-div;

  @include media-query(small) {
    display: none;
  }
}

#the-latest-page .push-pin-container {
  position: absolute;
  top: -15px; // Size of top border on figure
}
