// ==========================================
// VARIABLES
// ==========================================


// COLORS

//Color Descriptions
$white: #fff;
$black: #0b0b0b;
$sunset-orange: #fa4a4c;
$bright-turquoise: #1fd4f9;
$gray: #a6a6a6;
$light-gray: lighten($gray, 30%);
$royal-blue: #3d01c2;

// Color Functions
$color-header: $white;

$color-body: $white;
$color-border: $light-gray;
$color-shadow: rgba($black, 0.15);

$color-nav: $black;
$color-headline: $black;
$color-body-text: $black;
$color-date: $gray;

$color-link-default: $bright-turquoise;
$color-link-visited: $royal-blue;

$color-hero-background: $sunset-orange;

$color-blog-background: $light-gray;
$color-blog-post-title: $bright-turquoise;
$color-blog-social-link: $gray;
$color-blog-social-link-hover: lighten($bright-turquoise, 25%);

$color-footer: $royal-blue;


// FONTS

// Font Stacks
$font-stack-primary: "Avenir Next", Helvetica, sans-serif;
$font-stack-secondary: "Milkshake", "Avenir Next", Helvetica, sans-serif;
$font-stack-accent: "Emily Mattison", "Milkshake", "Avenir Next", Helvetica, sans-serif;

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

//Font Sizes
$base-font-size: 16px;


// BORDERS

$border: 1.5px solid $color-border;


//PADDING AND MARGINS

$padding-div: 50px;
$padding-body-text: 25px;


// PATHS

$path-image: "../../images";


// BREAKPOINTS

$breakpoints: (
  x-small : 575px,
  small: 576px,
  medium: 768px,
  large: 992px
);
