// ==========================================
// VARIABLES
// ==========================================


// COLORS

//Color Descriptions
$white: #fff;
$black: #0b0b0b;
$sunset-orange: #fa4a4c;
$bright-turquoise: #1fd4f9;
$gray: #a6a6a6;
$dark-gray: darken($gray, 15%);
$lighter-gray: lighten($gray, 15%);
$light-gray: lighten($gray, 30%);
$royal-blue: #3d01c2;

// Color Functions
$color-header: $white;

$color-body: $white;
$color-body-accent: $light-gray;
$color-border: $light-gray;
$color-shadow: rgba($black, 0.15);

$color-nav: $black;
$color-headline: $black;
$color-headline-gray: $lighter-gray;
$color-body-text: $black;
$color-date: $gray;

$color-button: $sunset-orange;
$color-button-active: lighten($sunset-orange, 5%);

$color-link-default: $bright-turquoise;
$color-link-visited: $royal-blue;

$color-arrows: $white;
$color-arrows-instagram: $sunset-orange;

$color-hero-background: $sunset-orange;

$color-blog-background: $light-gray;
$color-blog-post-title: $bright-turquoise;
$color-blog-social-link: $gray;
$color-blog-social-link-hover: $dark-gray;

$color-footer: $white;


// FONTS

// Font Stacks
$font-stack-primary: "Avenir Next", Helvetica, sans-serif;
$font-stack-secondary: "Milkshake", "Avenir Next", Helvetica, sans-serif;
$font-stack-accent: "Emily Mattison", "Milkshake", "Avenir Next", Helvetica, sans-serif;

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

//Font Sizes
$base-font-size: 16px;


// BORDERS

$border: 1.5px solid $color-border;


//PADDING AND MARGINS

$padding-section: 100px;
$padding-div: 50px;
$padding-body-text: 25px;

$margin-section: 125px 10%;
$margin-section-vertical: 125px;
$margin-section-horizontal: 10%;


// PATHS

$path-image: "../images";


// BREAKPOINTS

$breakpoints: (
  x-small : 575px,
  small: 576px,
  medium: 768px,
  large: 992px
);
