// ==========================================
// HEADER
// ==========================================

header {
  @include box-shadow($b: 7px);
  background: $color-header;
  height: 80px;
  width: 100%;
  z-index: 100;
}

.logo {
  @include vertical-align;
  float: left;
  height: 45px;
  margin-left: 5%;
  width: auto;
}

.nav {
  @include vertical-align;
  float: right;
  margin-right: 5%;

  @include e(item) {
    display: inline-block;
    list-style-type: none;

    a {
      @extend h1;
      color: $color-nav;
      font-size: 1.25rem;
      letter-spacing: $letter-spacing-headline;
      padding: 0 25px;
      text-decoration: none;

      &:hover {
        color: $color-nav-hover;
      }

      span {
        font-family: $font-stack-secondary;
        font-size: 0.78125rem;
        font-weight: $font-weight-regular;
        letter-spacing: 0rem;
        text-transform: lowercase;
        vertical-align: top;

        &:hover {
          color: $color-nav-hover;
        }
      }
    }
  }
}

.the-latest {
  padding-left: 13px;
  padding-right: 0px;
}
