// ==========================================
// HEADER
// ==========================================

header {
  @include box-shadow($b: 7px);
  background: $color-header;
  height: 80px;
  width: 100%;
  z-index: 100;

  ul {
    @include vertical-align;
    float: right;
    margin-right: 5%;

    li {
      display: inline-block;
      list-style-type: none;

      a {
        color: $color-nav;
        font-family: $font-stack-primary;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        padding: 0 25px;
        text-decoration: none;
        text-transform: uppercase;

        span {
          font-family: $font-stack-secondary;
          font-size: 0.78125rem;
          font-weight: normal;
          letter-spacing: 0rem;
          text-transform: lowercase;
          vertical-align: top;
        }
      }
    }
  }
}

.the-latest {
  padding-left: 13px;
  padding-right: 0px;
}

.logo {
  float: left;
  height: 45px;
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
}
