// ==========================================
// HERO
// ==========================================

.hero-section {
  background: $color-hero-background;
  height: 75vh;
  width: 100%;
}

.headline-container {
  @include flexbox($direction: column);
  height: 100%;
  position: relative;
  top: 80px; // Height of header
  width: 100%;
}

.headline-container h1 {
  @include text-shadow();
  color: $color-page-title;
  font-size: $font-size-page-title;
  font-weight: $font-weight-medium;
  margin-top: 0;
  padding-top: $padding-page-title;
}

.headline-container span {
  @extend %date;
  @include text-shadow();
  color: $color-blog-page-date;
  font-size: $font-size-blog-page-date;
}
