// ==========================================
// LAYOUT IFRAME
// ==========================================


.layout-iframe {
  height: 550px;
  margin: -100px 0;
  padding: 0 $margin-section-horizontal;
  width: 80%;
}

.layout-iframe-cover {
  background: $color-body;
  height: 100px;
  position: relative;
  width: 100%;
  z-index: 10;

  @include m(top) {
    @extend .layout-iframe-cover;
    top: -47px;
  }

  @include m(bottom) {
    @extend .layout-iframe-cover;
    bottom: -14px;
  }
}
