// ==========================================
// OVERVIEW
// ==========================================

.overview-section {
  background: $color-body;
  height: auto;
}

.overview-left {
  float: left;
  padding-top: $padding-section;
  width: 60%;

  @include media-query(small) {
    float: none;
    padding-top: $padding-div;
    width: 100%;
  }

  @include media-query(medium) {
    margin: 0 5%;
    width: 55%;
  }
}

.overview-right {
  @include flexbox($direction: column);
  float: right;
  padding-top: $padding-section;
  width: 40%;

  @include media-query(small) {
    float: none;
    padding-top: $padding-div;
    width: 100%;
  }

  @include media-query(medium) {
    margin-right: 5%;
    width: 30%;
  }

  img {
    object-fit: contain;
    padding-bottom: $padding-div;
  }
}
