// ==========================================
// PROJECT MAIN IMAGE
// ==========================================

.project-main-image-section {
  clear: both;
  height: auto;
  position: relative;
  width: 100%;
}

.project-main-image-section__background {
  background: $color-body-accent;
  height: -webkit-calc(100vh - 80px);
  height:   -moz-calc(100vh - 80px);
  height:     calc(100vh - 80px);
  margin-bottom: -webkit-calc((100vh - 80px) / 2);
  margin-bottom:  -moz-calc((100vh - 80px) / 2);
  margin-bottom:    calc((100vh - 80px) / 2);
  width: 100%;

  @include media-query(small) {
    height: 50vh;
    // Margin is being calculated in dogs-booklet.js
  }

  @include media-query(medium) {
    height: 50vh;
    margin-bottom: -webkit-calc(50vh / 2);
    margin-bottom:  -moz-calc(50vh / 2);
    margin-bottom:    calc(50vh / 2);
  }
}

.project-main-image-section__description-container {
  @include flexbox($direction: row, $justify: space-around, $align: center, $wrap: wrap);
  height: -webkit-calc((100vh - 80px) / 2);
  height:   -moz-calc((100vh - 80px) / 2);
  height:     calc((100vh - 80px) / 2);
  margin: 0 $margin-section-horizontal;
  position: absolute;
  top: 0;
  width: $width-section;

  @include media-query(small) {
    @include flexbox($direction: column, $justify: center, $wrap: nowrap);
    height: -webkit-calc(50vh * (3/4));
    height:  -moz-calc(50vh * (3/4));
    height:    calc(50vh * (3/4));
  }

  @include media-query(medium) {
    height: 25vh;
  }
}

.project-main-image-section__description {
  height: auto;
  text-align: center;
  width: auto;

  @include media-query(small) {
    padding: 10px 0;
  }

  h5 {
    @include media-query(small) {
      font-size: 0.75rem;
    }
  }

  p {
    margin-top: ($margin-body-text / 4);

    @include media-query(small) {
      font-size: 0.75rem;
      margin-top: (($margin-body-text / 4) * (3/4));
    }
  }
}

.project-main-image-section__image-container {
  @include box-shadow();
  height: -webkit-calc(100vh - 80px);
  height:   -moz-calc(100vh - 80px);
  height:     calc(100vh - 80px);
  margin: 0 10%;
  position: absolute;
  top: -webkit-calc((100vh - 80px) / 2);
  top:  -moz-calc((100vh - 80px) / 2);
  top:    calc((100vh - 80px) / 2);
  width: 80%;

  @include media-query(small) {
    height: auto;
    margin: 0 5%;
    overflow: hidden;
    top: -webkit-calc(50vh * (3/4));
    top:  -moz-calc(50vh * (3/4));
    top:    calc(50vh * (3/4));
    width: 90%;
  }

  @include media-query(medium) {
    height: 50vh;
    margin: 0 5%;
    overflow: hidden;
    top: -webkit-calc(50vh / 2);
    top:  -moz-calc(50vh / 2);
    top:    calc(50vh / 2);
    width: 90%;
  }

  img {
    max-height: 100%;
    object-fit: cover;
    width: 100%;

    @include media-query(medium) {
      width: auto;
    }
  }
}
