// ==========================================
// PROJECT FLEX
// ==========================================

.project-flex-section {
  @include flexbox($direction: row, $justify: space-around);
  clear: both;
  height: -webkit-calc(100vh - 80px);
  height:   -moz-calc(100vh - 80px);
  height:     calc(100vh - 80px);
  margin: 0 $margin-section-horizontal;
  width: $width-section;

  @include media-query(small) {
    // height: 50vh;
    @include flexbox($direction: column, $justify: center);
    height: auto;
  }

  @include media-query(medium) {
    height: 50vh;
  }

  img {
    max-height: 90%;
    object-fit: contain;

    @include media-query(small) {
      max-height: 50vh;
      max-width: 80%;
      padding: $margin-body-text 0;
    }
  }
}
