// ==========================================
// PROJECT FLEX
// ==========================================

.project-flex-section {
  @include flexbox($direction: row, $justify: space-around);
  clear: both;
  height: -webkit-calc(100vh - 80px);
  height:   -moz-calc(100vh - 80px);
  height:     calc(100vh - 80px);
  margin: 0 $margin-page-horizontal;
  width: $width-page;

  img {
    max-height: 100%;
    object-fit: contain;
  }
}
