// ==========================================
// PROJECT FLOAT
// ==========================================

.project-float-section {
  clear: both;
  height: -webkit-calc(100vh - 80px);
  height:   -moz-calc(100vh - 80px);
  height:     calc(100vh - 80px);
  margin: 0 $margin-page-horizontal;
  width: $width-page;

  @include media-query(small) {
    height: auto;
  }

  @include media-query(medium) {
    height: auto;
  }

  @include e(image) {
    @include vertical-align();
    height: auto;
    max-height: 90%;
    object-fit: contain;
    width: 60%;

    @include media-query(small) {
      margin: 0 $margin-page-mobile-horizontal;
      top: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      width: $width-page-mobile;
    }

    @include media-query(medium) {
      margin: 0 15%;
      top: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      width: 70%;
    }

    @include m(left) {
      @extend .project-float-section__image;
      float: left;

      @include media-query(small) {
        float: none;
      }

      @include media-query(medium) {
        float: none;
      }
    }

    @include m(right) {
      @extend .project-float-section__image;
      float: right;

      @include media-query(small) {
        float: none;
      }

      @include media-query(medium) {
        float: none;
      }
    }
  }

  @include e(div) {
    @include flexbox($direction: column, $align: flex-start);
    height: 100%;
    // margin-top: $padding-div;
    text-align: justify;
    width: 35%;

    @include media-query(small) {
      display: block;
      clear: both;
      margin: 0 5%;
      text-align: center;
      width: 90%; // Since this is 90% of 90% it roughly equals the $width-page-mobile
    }

    @include media-query(medium) {
      display: block;
      clear: both;
      margin: $margin-body-text 5% 0 5%;
      text-align: center;
      width: 90%;
    }

    @include m(left) {
      @extend .project-float-section__div;
      float: left;
      margin-right: 5%;

      span {
        font-weight: $font-weight-bold;
        padding-right: 2.5px;
      }
    }

    @include m(right) {
      @extend .project-float-section__div;
      float: right;
      margin-left: 5%;

      span {
        font-weight: $font-weight-bold;
        padding-right: 2.5px;
      }
    }
  }
}
