// ==========================================
// PROJECT BACKGROUND IMAGE
// ==========================================

.project-background-image-section {
  clear: both;
  height: -webkit-calc(100vh - 80px);
  height:   -moz-calc(100vh - 80px);
  height:     calc(100vh - 80px);
  width: 100%;

  @include media-query(medium) {
    height: 50vh;
  }
}
