// ==========================================
// PROJECT OVERVIEW
// ==========================================

.project-overview-section {
  height: -webkit-calc(100vh - 80px);
  height:   -moz-calc(100vh - 80px);
  height:     calc(100vh - 80px);
  position: relative;
  width: 100%;

  @include media-query(small) {
    height: auto;
  }

  @include media-query(medium) {
    height: auto;
  }
}

.project-overview-section__line--hero {
  border-right: $border-project-hero;
  height: 75px;
  position: absolute;
  top: -75px;
  width: 50%;
  z-index: 10;

  @include media-query(small) {
    height: 25px;
    top: -25px;
  }
}

.project-overview-section__line--overview {
  border-right: $border-project-overview;
  height: 25px;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 10;

  @include media-query(small) {
    height: 25px;
  }
}

.project-overview-section__description-container {
  @include flexbox();
  height: 100%;
  width: 100%;
}

.project-overview-section__description {
  @include flexbox ($direction: column);
  padding: 130px 25% 40px 25%;
  visibility: hidden;

  @include media-query(small) {
    padding: $padding-div $margin-page-mobile-horizontal;
    visibility: visible;
  }

  @include media-query(medium) {
    padding: 100px $margin-page-tablet-horizontal;
    visibility: visible;
  }
}

.project-overview-section h1 {
  @include media-query(small) {
    font-size: 1.75rem;
  }
}

.project-overview-section img {
  height: 150px;
  object-fit: contain;
  margin-top: $margin-body-text + 30px;
  margin-bottom: -30px;
  visibility: hidden;

  @include media-query(small) {
    margin-top: $margin-body-text;
    margin-bottom: 0;
    visibility: visible;
  }

  @include media-query(medium) {
    margin-top: $margin-body-text;
    margin-bottom: 0;
    visibility: visible;
  }
}

.project-overview-section .button-container {
  margin-top: $padding-div + 30px;
  margin-bottom: -30px;
  visibility: hidden;

  @include media-query(small) {
    margin-top: $padding-div;
    margin-bottom: 0;
    visibility: visible;
  }

  @include media-query(medium) {
    margin-top: $padding-div;
    margin-bottom: 0;
    visibility: visible;
  }
}
