// ==========================================
// PROJECT SLIDER
// ==========================================

.project-slider-section--desktop {
  clear: both;
  height: -webkit-calc(100vh - 80px);
  height:   -moz-calc(100vh - 80px);
  height:     calc(100vh - 80px);
  margin: 0 $margin-section-horizontal;
  width: $width-section;

  @include media-query(small) {
    display: none;
  }

  @include media-query(medium) {
    display: none;
  }
}

.project-slider-section-for--desktop {
  @include flexbox();
  height: 100%;
  width: 100%;
}

.project-slider-section--tablet {
  display: none;

  @include media-query(medium) {
    clear: both;
    display: block;
    height: 50vh;
    margin: 0 $margin-page-mobile-horizontal;
    width: $width-page-mobile;
  }
}

.project-slider-section-for--tablet {
  @include flexbox();
  height: 100%;
  width: 100%;
}

.project-slider-section--mobile {
  display: none;

  @include media-query(small) {
    clear: both;
    display: block;
    height: 50vh;
    margin: 0 $margin-page-mobile-horizontal;
    width: $width-page-mobile;
  }
}

.project-slider-section-for--mobile {
  @include flexbox();
  height: 100%;
  width: 100%;
}

.project-slider-section--desktop .slick-prev:before, .project-slider-section--desktop .slick-next:before {
    color: $color-arrows;
  }

.project-slider-section--tablet .slick-prev:before, .project-slider-section--tablet .slick-next:before {
  color: $color-arrows;
}

.project-slider-section--mobile .slick-prev:before, .project-slider-section--mobile .slick-next:before {
  color: $color-arrows;
}

.project-slider-section-for__post {
  @include flexbox();
  height: 100%;
  width: 33%;
}

.project-slider-section-for__post img {
  margin: 0 auto;
  max-height: 100%;
  object-fit: contain;
  width: 80%;
}
