// ==========================================
// BLOG NAV
// ==========================================

.blog-nav-container {
  height: 450px;
  width: 225px;

  h4 {
    position: relative;
    text-align: center;
    top: 0;
  }
}

.blog-nav-border {
  border-right: $border-blog-nav;
  float: left;
  height: 40px;
  margin-bottom: 10px;
  position: relative;
  top: 5px;
  width: 50%;
}

.blog-nav {
  border: $border-blog-nav;
  bottom: 0;
  height: 375px;
  overflow-y: scroll;
  position: relative;
  width: 100%;

  @include e(post) {
    background: $color-blog-post;
    border-bottom: $border-blog-nav;
    box-sizing: border-box;
    cursor: pointer;
    height: 75px;
    position: relative;
    width: 100%;

    &:hover {
      background: $color-blog-post-hover;
    }

    img {
      @include vertical-align;
      display: inline-block;
      max-height: 75%;
      float: left;
      object-fit: contain;
      padding-left: 5%;
      width: 30%;
    }

    article {
      display: inline-block;
      float: left;
      padding-left: 5%;
      position: relative;
      top: 15%;
      width: 60%;

      span {
        @extend %date;
        font-size: (0.75 * 0.85rem);
      }

      h5 {
        color: $color-blog-post-title;
        font-size: (0.75 * 1rem);
        padding-top: 2.5px;
      }
    }
  }
}
