// ==========================================
// FIGURES
// ==========================================

.share-figure {
  @include box-shadow;
  background: $color-blog-figure;
  border: 15px solid $color-blog-figure;
  margin: 0;

  img {
    object-fit: contain;
    width: 100%;
  }

  figcaption {
    background: $color-blog-figure;
    width: 100%;

    div {
      width: 100%;

      span {
        color: $color-icon;
        font-family: $font-stack-accent;
        position: relative;
        text-transform: lowercase;
      }
    }
  }
}

.directory__figure {
  @include box-shadow;
  background: $color-blog-figure;
  border: 15px solid $color-blog-figure;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 0;

  img {
    // object-fit: contain;
    width: 100%;
  }

  figcaption {
    background: $color-blog-figure;
    width: 100%;

    div {
      @include flexbox($direction: column);
      width: 100%;

      span {
        @extend %date;
      }

      h2, h3, h4 {

      }
    }
  }

  @include m(first) {
    @extend .directory__figure;
    margin-left: $margin-div;
    position: relative;
    top: $height-content-offset;
    width: -webkit-calc(100% - #{$width-blog-nav-container} - #{$margin-div});
    width:    -moz-calc(100% - #{$width-blog-nav-container} - #{$margin-div});
    width:         calc(100% - #{$width-blog-nav-container} - #{$margin-div});

    figcaption {
      padding: 15px 0px 7.5px 0px;

      span {
        font-size: 0.74375rem; // The same ratio as the span in the hero
      }

      h2 {
        padding-top: 16.4061987px; // The same ratio as the h1 padding in the hero
      }
    }
  }
}
