// ==========================================
// FORMS
// ==========================================

.contact-form {
  margin-top: $margin-div;
  margin-bottom: $margin-div;
}

.input__contact {
  border: 2px solid $color-input;
  margin-top: $margin-body-text;
  margin-right: $margin-input;
  padding: $padding-input;

  &:focus {
    border: 2px solid $color-input-active;
    outline: none;
  }

  @include m(last) {
    border: 2px solid $color-input;
    margin-top: $margin-body-text;
    padding: $padding-input;

    &:focus {
      border: 2px solid $color-input-active;
      outline: none;
    }
  }

  @include m(message) {
    border: 2px solid $color-input;
    display: block;
    height: 250px;
    margin-top: $margin-body-text;
    padding: $padding-input;

    &:focus {
      border: 2px solid $color-input-active;
      outline: none;
    }
  }
}
