// ==========================================
// FORMS
// ==========================================

form {
  margin-top: $margin-div;
  margin-bottom: $margin-div;
}

.input-container {
  display: inline-block;
  margin-top: $margin-body-text;
  margin-right: $margin-input;
  position: relative;
}

.input-container label {
  color: $color-input-label;
  left: ($padding-input + $border-size);
  position: absolute;
  top: ($padding-input + $border-size);
}

.input-container--last {
  display: inline-block;
  margin-top: $margin-body-text;
  position: relative;
}

.input-container--last label {
  color: $color-input-label;
  left: ($padding-input + $border-size);
  position: absolute;
  top: ($padding-input + $border-size);
}

.textarea-container {
  display: block;
  height: 250px;
  margin-top: $margin-body-text;
  position: relative;
}

.textarea-container label {
  color: $color-input-label;
  left: ($padding-input + $border-size);
  position: absolute;
  top: ($padding-input + $border-size);
}

.input__contact {
  border: $border-input;
  padding: $padding-input;
  width: 100%;

  &:focus {
    border: $border-input-active;
    outline: none;
  }

  &:focus + label {
    background: $color-body;
    color: $color-input-label-active;
    transform: translateY(-80%);
  }

  @include m(last) {
    border: $border-input;
    padding: $padding-input;
    width: 100%;

    &:focus {
      border: $border-input-active;
      outline: none;
    }
  }

  @include m(message) {
    border: $border-input;
    height: 100%;
    padding: $padding-input;
    width: 100%;

    &:focus {
      border: $border-input-active;
      outline: none;
    }
  }
}
