// ==========================================
// ICONS
// ==========================================


.fa {
  color: $color-icon;
  cursor: pointer;
  font-size: 1.75rem;

  &:hover {
    color: $color-icon-hover;
  }
}

.slick-prev:before, .slick-next:before {
    color: $color-arrows;
    font-family: $font-stack-primary;
    font-size: 3rem;
    font-weight: $font-weight-regular;
  }
