// ==========================================
// MAIN NAV
// ==========================================

.main-nav-logo {
  @include vertical-align;
  height: 45px;
  width: auto;
}

.main-nav {
  @include vertical-align;

  @include e(item) {
    display: inline-block;
    list-style-type: none;
    padding: $padding-nav-item;

    @include m(first) {
      @extend .main-nav__item;
    }

    @include m(last) {
      @extend .main-nav__item;
    }
  }

  @include media-query(small) {
    display: none;
  }
}

.main-nav a {
  @extend h1;
  color: $color-nav;
  font-size: 1.25rem;
  letter-spacing: $letter-spacing-headline;
  text-decoration: none;

  &:hover {
    color: $color-nav-hover;
  }

  span {
    font-family: $font-stack-accent;
    font-size: 0.78125rem;
    font-weight: $font-weight-regular;
    letter-spacing: 0rem;
    text-transform: lowercase;
    vertical-align: top;

    &:hover {
      color: $color-nav-hover;
    }
  }
}

.main-nav-mobile {
  @include vertical-align();
  color: $color-nav;

  &:hover {
    color: $color-nav;
  }

  @include media-query(large) {
    display: none;
  }
}
