// ==========================================
// PROJECT DETAILS
// ==========================================

.project-details-container {
  height: auto;
  padding-bottom: $margin-body-text;
  width: $width-project-details-container;

  @include media-query(small) {
    display: none;
  }

  @include media-query(medium) {
    padding-bottom: 0;
    width: 100%;
  }

  h3 {
    position: relative;
    text-align: center;
    top: 0;

    @include media-query(medium) {
      font-size: (1.5rem / 1.4);
    }
  }
}

.project-details-border {
  border-bottom: $border-project-details;
  height: 15px;
  margin-left: 37.5%;
  margin-right: 37.5%;
  margin-bottom: 2.5px;
  position: relative;
  top: 2.5px;
  width: 25%;
}

.project-details {
  bottom: 0;
  height: auto;
  overflow-y: scroll;
  padding-bottom: $margin-body-text;
  position: relative;
  width: 100%;

  @include media-query(medium) {
    @include flexbox($direction: row);
    padding-bottom: 0;
  }

  h4 {
    margin-top: $margin-body-text;
    text-align: center;

    @include media-query(medium) {
      font-size: 0.9rem;

      &:after {
        content: ":";
        padding-right: 5px;
      }
    }
  }

  p {
    margin-top: ($margin-body-text / 4);
    text-align: center;

    @include media-query(medium) {
      margin-top: $margin-body-text;
    }
  }
}

.project-details p:first-of-type {
  @include media-query(medium) {
    padding-right: 25px;
  }
}
